<!-- menu desktop -->
<header *ngIf="!sticky && !_menu.OnPopup" data-wow-duration="0.4s" #stickyMenu [ngClass]="{'offset-xl-1': !_menu.DarkMenu, 'offset-xl-5': _menu.DarkMenu, 'dark-menu-mg': _menu.DarkMenu}" class="d-none d-xl-block wow slideInDown">
    <div class="container">
        <div class="container-fluid">
            <nav class="navbar navbar-expand-lg navbar-light color-visual-design text-center">
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
                <div class="collapse navbar-collapse" id="navbarNav">
                    <ul class="navbar-nav">
                        <li class="nav-item active">
                            <a style="color: white !important" [ngClass]="{'text-dark': !_menu.DarkMenu, 'text-white': _menu.DarkMenu}" [routerLink]="['/']" class="nav-link LinotteRegular font-25">Inicio</a>
                        </li>
                        <li class="nav-item">
                            <a style="color: white !important" [ngClass]="{'text-dark': !_menu.DarkMenu, 'text-white': _menu.DarkMenu}" [routerLink]="['/nosotros']" class="nav-link LinotteRegular font-25">Nosotros</a>
                        </li>
                        <li *ngIf="!_menu.DarkMenu" class="nav-item">
                            <a style="color: white !important" [ngClass]="{'text-dark': !_menu.DarkMenu, 'text-white': _menu.DarkMenu}" [routerLink]="['/']" class="navbar-brand">
                                <img title="Syfte Brand" src="./assets/images/desktop/syfte-logo-white.png" alt="Syfte-Logo">
                            </a>
                        </li>
                        <li class="nav-item">
                            <!--<a [ngClass]="{'text-dark': !_menu.DarkMenu, 'text-white': _menu.DarkMenu}" [routerLink]="['/casos']" class="nav-link LinotteRegular font-25">
                                Casos
                            </a>-->
                            <a style="color: white !important" [ngClass]="{'text-dark': !_menu.DarkMenu, 'text-white': _menu.DarkMenu}" href="https://www.syftedesigns.com/campaign/services/" class="nav-link LinotteRegular font-25">
                                Servicios
                            </a>
                        </li>
                        <li class="nav-item">
                            <a style="color: white !important" [ngClass]="{'text-dark': !_menu.DarkMenu, 'text-white': _menu.DarkMenu}" [routerLink]="['/contacto']" class="nav-link LinotteRegular font-25">Contacto</a>
                        </li>
                        <li *ngIf="!_menu.DarkMenu" class="nav-item dropdown pointer">
                            <a style="color: white !important" title="Translation" [ngClass]="{'text-dark': !_menu.DarkMenu, 'text-white': _menu.DarkMenu}" class="nav-link LinotteRegular font-25 dropdown-toggle" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true"
                                aria-expanded="false">
                                <i class="material-icons">
                                    language
                                </i>&nbsp;Español
                            </a>
                            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                                <a id="lang-es" style="margin-top: -35%; margin-left: 1% !important; color: white !important" [ngClass]="{'text-dark': !_menu.DarkMenu, 'text-white': _menu.DarkMenu}" class="dropdown-item LinotteRegular font-25" href="https://www.syftedesigns.com/">
                                    <i class="material-icons">
                                        arrow_right
                                    </i>&nbsp;Ingles
                                </a>
                            </div>
                        </li>
                    </ul>
                </div>
            </nav>
        </div>
    </div>
</header>
<!-- end menu desktop -->
<!-- menu responsive overlay -->
<header data-wow-duration="0.4s" *ngIf="!sticky && !_menu.OnPopup" class="d-xl-none menu-digital wow slideInDown">
    <div class="container">
        <div class="container-fluid">
            <div class="space-60"></div>
            <div class="row text-center">
                <div class="col-sm col-3">
                    <i (click)="ToggleOverlayMenu($event);" [ngClass]="{'text-dark': _menu.IsContactPage, 'text-white': !_menu.IsContactPage}" class="material-icons toggle-menu-style font-45 pointer">
                      dehaze
                  </i>
                </div>
                <div class="col-sm col-3">
                    <a [routerLink]="['/']" class="navbar-brand">
                        <img *ngIf="!_menu.DarkMenu" class="menu-brand offset-lg-4 offset-md-2 d-none d-md-block" title="Syfte Brand" src="./assets/images/desktop/syfte-logo-white.png" alt="Nuestro logotipo de marketing negro">
                        <img *ngIf="_menu.DarkMenu && _menu.IsContactPage" id="brand" style="margin-top: -30%" class="d-md-none offset-3" src="./assets/images/desktop/syfte-logo.png" alt="Nuestro logotipo de marketing negro">
                        <img *ngIf="!_menu.IsContactPage" id="brand" style="margin-top: -30%" class="d-md-none offset-3" src="./assets/images/desktop/syfte-logo-white.png" alt="Nuestro logotipo de marketing negro">
                    </a>
                </div>
                <div class="col-sm col-3 offset-3 offset-sm-0 div-language">
                    <nav class="offset-md-7">
                        <div class="row menu-language language language-mobile2">
                            <div class="col-md-2 col-2 default">
                                <a [routerLink]="['/']" style="font-weight: bold" class="font-16 active LinotteLight text-white">Es</a>
                            </div>
                            <div class="col-md-2 col-2 default">
                                <a href="https://www.syftedesigns.com/" class="font-16 LinotteLight text-white">En</a>
                            </div>
                        </div>
                    </nav>
                </div>
            </div>
        </div>
    </div>
</header>
<div class="menu-overlay">
    <nav id="nav-overlay" class="overlay-menu">
        <div class="container">
            <div class="row">
                <div (click)="CloseOverlayMenu($event);" class="col-sm text-right close-menu pointer d-none d-md-block d-xl-none">
                    <i class="material-icons font-55">
                      highlight_off
                   </i>
                </div>
                <div (click)="CloseOverlayMenu($event);" class="col-sm close-menu-desktop text-right pointer d-none d-xl-block">
                    <i class="material-icons font-55">
                      highlight_off
                   </i>
                </div>
                <div (click)="CloseOverlayMenu($event);" class="col-sm text-right close-menu pointer mobile-margin d-md-none">
                    <i class="material-icons font-55">
                      highlight_off
                   </i>
                </div>
            </div>
        </div>
        <ul class="one margin-one">
            <li class="brand-overlay">
                <a (click)="ToRouting('');" class="nav-links">
                    <img src="./assets/images/tablet/logo-white.png" alt="Nuestro logotipo de marketing blanco">
                </a>
            </li>
            <li (click)="ToRouting('');"><a class="nav-links pointer">Inicio</a></li>
            <li (click)="ToRouting('nosotros');"><a class="nav-links pointer">Nosotros</a></li>
            <li onclick="location.href = 'https://www.syftedesigns.com/campaign/services'"><a class="nav-links pointer">Servicios</a></li>
            <li (click)="ToRouting('contacto');"><a class="nav-links pointer">Contacto</a></li>
        </ul>
        <div class="space-200 d-none d-xl-block h-800"></div>
        <div class="space-50 d-none d-md-block h-768 d-xl-none"></div>
        <div class="space-15 d-none d-xl-block"></div>
        <div class="container h-768">
            <div class="row">
                <div class="col-sm text-center w-100">
                    <section class="overlay-menu-divider d-none d-md-block"></section>
                    <section class="mobile-divider d-md-none"></section>
                </div>
            </div>
            <div class="space-20 d-md-none"></div>
            <div class="row text-center offset-md-2 offset-2">
                <div class="col-md-3 col-3 text-white">
                    <a href="https://www.instagram.com/syftedesigns/?hl=es" target="_blank">
                        <img class="ig-social" src="./assets/images/tablet/Iconos-11.png" alt="Nuestra marca en instagram">
                    </a>
                </div>
                <div class="col-md-3 col-3 text-white">
                    <a href="https://twitter.com/DesignsSyfte" target="_blank">
                        <img class="tw-social" src="./assets/images/tablet/Iconos-12.png" alt="Nuestra marca en twitter">
                    </a>
                </div>
                <div class="col-md-3 col-3 text-white">
                    <a href="https://www.facebook.com/syftedesigns/" target="_blank">
                        <img class="fb-social" src="./assets/images/tablet/Iconos-13.png" alt="Nuestra marca en facebook">
                    </a>
                </div>
            </div>
        </div>
    </nav>
</div>
<!-- end menu responsive overlay -->

<!-- sticky menu -->
<header *ngIf="sticky && !_menu.OnPopup" [ngClass]="{'sticky': sticky}">
    <div class="container">
        <div class="row">
            <div class="col-sm text-center">
                <figure>
                    <span class="dot bg-dark circle-animation">
                      <i (click)="ToggleOverlayMenu($event);" style="margin-top: 20%;" class="material-icons toggle-menu-style font-45 pointer text-white">
                                  dehaze
                      </i>
                  </span>
                </figure>
            </div>
        </div>
    </div>
</header>
<!-- end sticky -->