<div class="space-200 d-none d-xl-block"></div>
<div class="space-120 d-none d-md-block d-xl-none"></div>
<div class="container">
    <div class="container-fluid">
        <!-- desktop -->
        <section class="d-none d-xl-block">
            <div class="row">
                <div class="col-sm text-center">
                    <h1 class="LinotteRegular font-65 about-title text-uppercase wow slideInLeft">
                        ¿Qué es <br> Syfte?
                    </h1>
                    <article class="wow slideInLeft">
                        <p class="LinotteLight font-20 text-color about-texts">
                            Syfte es una agencia creativa que surgió debido a la <strong>insuficiencia e inexperiencia</strong> que tenían nuestros clientes para mantener un negocio a flote, es muy común que al crear una página web que venda un producto
                            o una tienda virtual, que tenga pocas vistas y pocos clics, lo que se resume a perdida, seguida de fracaso. Nosotros sabemos que la mayoría de las veces esto sucede, por lo que <strong>ofrecemos la habilidad y experiencia necesaria para unificar todo en un solo
                            producto y lo ofrecemos a los consumidores</strong>.
                        </p>
                    </article>
                </div>
                <div class="col-xl-6 wow bounceInRight">
                    <img class="machine" style="margin-top: -40%" src="./assets/images/desktop/maquina-03.png" alt="Acerca de nuestra agencia">
                </div>
            </div>
        </section>
        <!-- end desktop -->
        <!-- tablet -->
        <section class="d-none d-md-block d-xl-none ">
            <div class="row">
                <div class="col-md-5 text-center">
                    <h1 class="LinotteRegular font-36 about-title text-uppercase wow slideInLeft">
                        ¿Qué es <br> Syfte?
                    </h1>
                    <div class="space-15"></div>
                    <article class="wow slideInLeft">
                        <p class="LinotteLight font-16 text-color about-texts">
                            Syfte es una agencia creativa que surgió debido a la <strong>insuficiencia e inexperiencia</strong> que tenían nuestros clientes para mantener un negocio a flote, es muy común que al crear una página web que venda un producto
                            o una tienda virtual, que tenga pocas vistas y pocos clics, lo que se resume a perdida, seguida de fracaso. Nosotros sabemos que la mayoría de las veces esto sucede, por lo que <strong>ofrecemos la habilidad y experiencia necesaria para unificar todo en un solo
                                producto y lo ofrecemos a los consumidores</strong>.
                        </p>
                    </article>
                </div>
                <div class="col-sm">
                    <img class="d-none d-md-block d-lg-none about-machine wow bounceInRight" src="./assets/images/tablet/maquina-02.png" alt="Acerca de nuestra agencia">
                    <img style="margin-top: -25%" class="d-none d-lg-block d-xl-none about-machine wow bounceInRight" src="./assets/images/tablet/maquina-02.png" alt="Acerca de nuestra agencia">
                </div>
            </div>
        </section>
        <!-- end tablet -->
    </div>
</div>
<!-- slider -->
<section class="d-none d-xl-block hover-hidden">
    <div class="row">
        <div class="col-xl-12 wow bounceInUp">
            <img class="circle-yellow" src="./assets/images/desktop/Personajes-2-03.png" alt="Componente corporativo de nuestra agencia">
            <div id="carouselExampleControls" class="carousel slide carousel-fade" data-ride="carousel">
                <div class="carousel-inner">
                    <div (mouseleave)="DisplaySliderArrow = false;" (mouseover)="DisplaySliderArrow = true" class="carousel-item active">
                        <img src="./assets/images/desktop/carlos.png" class="d-block  img-slider" alt="CEO de la agencia">
                        <div class="carousel-caption d-none d-md-block employ-slider">
                            <h1 class="font-45 Gotham-Book about-title">Carlos Estarita</h1>
                            <h5 class="font-18 Aquatico-Regular about-title">Founder & Project Manager</h5>
                        </div>
                    </div>
                    <div (mouseleave)="DisplaySliderArrow = false;" (mouseover)="DisplaySliderArrow = true" class="carousel-item">
                        <img src="./assets/images/desktop/maiky.png" class="d-block  img-slider" alt="Líder de estrategias de marketing">
                        <div class="carousel-caption d-none d-md-block employ-slider">
                            <h1 class="font-45 Gotham-Book about-title">Maiky Sanchez</h1>
                            <h5 class="font-18 Aquatico-Regular about-title">Co-Founder & Sales Coordinator</h5>
                        </div>
                    </div>
                    <div (mouseleave)="DisplaySliderArrow = false;" (mouseover)="DisplaySliderArrow = true" class="carousel-item">
                        <img src="./assets/images/desktop/pablo.png" class="d-block  img-slider" alt="Diseñador web creativo">
                        <div class="carousel-caption d-none d-md-block employ-slider">
                            <h1 class="font-45 Gotham-Book about-title">Pablo Vasquez</h1>
                            <h5 class="font-18 Aquatico-Regular about-title">Graphic Designer</h5>
                        </div>
                    </div>
                </div>
                <a class="carousel-control-prev" href="#carouselExampleControls" role="button" data-slide="prev">
                    <img *ngIf="!DisplaySliderArrow" class="w-50 arrow-slider" src="./assets/images/desktop/flecha-02.png" alt="Cambiar de patner">
                </a>
            </div>
        </div>
        <div class="col-sm text-center article-who">
            <div class="space-180"></div>
            <h1 class="LinotteRegular font-65 about-title text-uppercase wow slideInRight">
                MISIÓN
            </h1>
            <article>
                <p class="LinotteLight font-20 text-color about-texts wow slideInRight">
                    El objetivo de <strong>Syfte es hacer que tus ideas y metas se conviertan en un negocio
                    exitoso</strong> a través de un plan de trabajo que discutimos personalmente con cada cliente, cada servicio que ofrecemos es un pilar fundamental que transformamos en <strong>experiencia óptima y
                    combinándolo con estrategias de Marketing se traduce a Sitios web y Apps elegantes</strong>.
                </p>
                <img style="margin-left: 65%; border:0px; background-color: #e5e4e3" class="img-thumbnail wow bounceInRight" src="./assets/images/desktop/personaje-03.png" alt="Creador de branding">
            </article>
        </div>
    </div>
</section>
<!-- end slider -->
<!-- slider tablet -->
<div class="space-80"></div>
<section class="d-none d-md-block d-xl-none hover-hidden">
    <div class="row">
        <div class="col-sm wow slideInLeft">
            <img style="margin-top: -0.6em; margin-left: 1em" src="./assets/images/tablet/personaje-2-02.png" alt="Componente corporativo de nuestra agencia">
            <div id="carouselTablet" class="carousel slide carousel-fade slider-position" data-ride="carousel">
                <div class="carousel-inner">
                    <div class="carousel-item active">
                        <img src="./assets/images/desktop/carlos.png" class="d-none d-md-block d-lg-none img-slider" alt="CEO de la agencia">
                        <img src="./assets/images/desktop/carlos.png" class="d-none d-md-none d-lg-block d-xl-none img-slider" alt="CEO de la agencia">
                        <div class="carousel-caption d-none d-md-block d-xl-none employ-slider">
                            <h1 class="font-25 Gotham-Book about-title">Carlos Estarita</h1>
                            <h5 class="font-18 LinotteRegular about-title">CEO & Project Manager</h5>
                        </div>
                    </div>
                    <div class="carousel-item">
                        <img src="./assets/images/desktop/maiky.png" class="d-none d-md-block d-lg-none img-slider" alt="Líder de estrategias de marketing">
                        <img src="./assets/images/desktop/maiky.png" class="d-none d-md-none d-lg-block d-xl-none img-slider" alt="Líder de estrategias de marketing">
                        <div class="carousel-caption d-none d-md-block d-xl-none employ-slider">
                            <h1 class="font-25 Gotham-Book about-title">Maiky Sanchez</h1>
                            <h5 class="font-18 LinotteRegular about-title">Vicepresident</h5>
                        </div>
                    </div>
                    <div class="carousel-item">
                        <img src="./assets/images/desktop/pablo.png" class="d-none d-md-block d-lg-none img-slider" alt="Diseñador web creativo">
                        <img src="./assets/images/desktop/pablo.png" class="d-none d-md-none d-lg-block d-xl-none img-slider" alt="Diseñador web creativo">
                        <div class="carousel-caption d-none d-md-block d-xl-none employ-slider">
                            <h1 class="font-25 Gotham-Book about-title">Pablo Vasquez</h1>
                            <h5 class="font-18 LinotteRegular about-title">Graphic Designer</h5>
                        </div>
                    </div>
                </div>
                <a class="carousel-control-prev" href="#carouselTablet" role="button" data-slide="prev">
                    <img class="arrow-tablet" src="./assets/images/tablet/flecha-02.png" alt="arrow-slider">
                </a>
            </div>
        </div>
        <div style="position: relative; left: -1em;" class="col-sm text-center">
            <div class="space-50"></div>
            <h1 class="LinotteRegular font-36 about-title text-uppercase wow slideInRight">
                MISIÓN
            </h1>
            <div class="space-15"></div>
            <article class="wow slideInRight">
                <p class="LinotteLight font-14 text-color about-texts">
                    El objetivo de <strong>Syfte es hacer que tus ideas y metas se conviertan en un negocio
                    exitoso</strong> a través de un plan de trabajo que discutimos personalmente con cada cliente, cada servicio que ofrecemos es un pilar fundamental que transformamos en <br> <strong>experiencia óptima y
                    combinándolo con estrategias de Marketing se traduce a Sitios web y Apps elegantes</strong>.
                </p>
                <div class="space-50"></div>
                <div class="col-sm text-center">
                    <img class="offset-md-2 offset-lg-4 wow bounceInRight" src="./assets/images/tablet/employer.png" alt="Creador de branding">
                </div>
            </article>
        </div>
    </div>
    <!-- what we do tablet -->
    <section style="margin-top: -10em">
        <div class="container">
            <div class="row">
                <div class="col-md-10 offset-md-1 text-center">
                    <h1 class="LinotteRegular font-36 about-title text-uppercase wow slideInLeft">
                        ¿Qué <br> hacemos?
                    </h1>
                    <div class="space-10"></div>
                    <article class="text-center wow slideInLeft">
                        <p class="LinotteLight font-16 text-color about-texts">
                            <strong>En Syfte combinamos todas las herramientas en una sola para crear bases sólidas
                            para cada negocio</strong>, arrancamos con reuniones por zoom o Skype para explorar las ideas de los clientes y en base a eso elaboramos un plan de <strong>Branding (marca), Diseño Visual y lo llevamos a
                            Diseño Web, Sistemas inteligentes y Apps en caso de ser necesarias</strong>. Estos son los servicios que ofrecemos a nuestros consumidores.
                        </p>
                    </article>
                </div>
            </div>
            <!-- services -->
            <div class="space-80"></div>
            <div class="row hover-hidden">
                <div class="col-sm">
                    <img class="about-tablet-dispositives wow slideInLeft" src="./assets/images/tablet/herramientas-02.png" alt="Componentes de diseño web">
                </div>
                <div style="border-left: 2px solid #cbcac9" class="col-sm text-center offset-md-1 wow slideInRight">
                    <div class="space-50"></div>
                    <ul class="tablet-list">
                        <li>Marketing</li>
                        <li>Diseño UX/UI</li>
                        <li>Backend</li>
                        <li>Desarrollo de Apps</li>
                        <li>Diseño Web</li>
                        <li>Diseño Visual</li>
                        <li>SEO & SEMM</li>
                        <li>Branding</li>
                    </ul>
                </div>
            </div>
            <!-- end services -->
        </div>
    </section>
    <!-- end what we do tablet -->
</section>
<!-- end slider tablet -->
<!-- services case -->
<div class="space-40"></div>
<div class="container d-none d-xl-block">
    <div class="container-fluid">
        <div class="row">
            <div class="col-xl-5 text-center">
                <img class="bg-dispositives wow bounceInUp" src="./assets/images/desktop/Herramientas-03.png" alt="Componentes de diseño web">
            </div>
            <div class="col-sm text-center offset-xl-2 we-do">
                <h1 class="LinotteRegular font-65 about-title text-uppercase wow slideInRight">
                    ¿Qué <br> hacemos?
                </h1>
                <article>
                    <p class="LinotteLight font-20 text-color about-texts wow slideInRight">
                        <strong>En Syfte combinamos todas las herramientas en una sola para crear bases sólidas
                        para cada negocio</strong>, arrancamos con reuniones por zoom o Skype para explorar las ideas de los clientes y en base a eso elaboramos un plan de <strong>Branding (marca), Diseño Visual y lo llevamos a
                        Diseño Web, Sistemas inteligentes y Apps en caso de ser necesarias</strong>. Estos son los servicios que ofrecemos a nuestros consumidores.
                    </p>
                </article>
                <div class="space-50"></div>
                <div style="border-left: 2px solid #cbcac9" class="row wow slideInUp">
                    <div class="col-sm text-center">
                        <ul class="services-list">
                            <li>Marketing</li>
                            <li>Diseño UX/UI</li>
                            <li>Backend</li>
                            <li>Desarrollo de Apps</li>
                            <li>Diseño Web</li>
                            <li>Diseño Visual</li>
                            <li>SEO & SEMM</li>
                            <li>Branding</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- end services case -->
<!-- mobile -->
<section class="d-md-none">
    <div class="container">
        <div class="row">
            <div class="col-12 text-center">
                <h1 class="LinotteRegular font-45 about-title text-uppercase wow slideInLeft">
                    ¿Qué es <br> Syfte?
                </h1>
                <div class="space-10"></div>
                <article>
                    <p class="LinotteLight font-20 text-color about-texts wow slideInLeft">
                        Syfte es una agencia creativa que surgió debido a la <strong>insuficiencia e inexperiencia</strong> que tenían nuestros clientes para mantener un negocio a flote, es muy común que al crear una página web que venda un producto o
                        una tienda virtual, que tenga pocas vistas y pocos clics, lo que se resume a perdida, seguida de fracaso. Nosotros sabemos que la mayoría de las veces esto sucede, por lo que <strong>ofrecemos la habilidad y experiencia necesaria para unificar todo en un solo
                            producto y lo ofrecemos a los consumidores</strong>.
                    </p>
                    <div class="space-10"></div>
                    <img class="wow slideInLeft" src="./assets/images/mobile/mobile-employer.png" alt="Creador de branding">
                </article>
            </div>
            <div class="col-12 text-center">
                <div class="space-20"></div>
                <h1 class="LinotteRegular font-45 about-title text-uppercase wow slideInUp">
                    Misión
                </h1>
                <div class="space-10"></div>
                <article class="wow slideInUp">
                    <p class="LinotteLight font-20 text-color about-texts">
                        El objetivo de <strong>Syfte es hacer que tus ideas y metas se conviertan en un negocio
                        exitoso</strong> a través de un plan de trabajo que discutimos personalmente con cada cliente, cada servicio que ofrecemos es un pilar fundamental que transformamos en <strong>experiencia óptima y
                        combinándolo con estrategias de Marketing se traduce a Sitios web y Apps elegantes</strong>.
                    </p>
                </article>
            </div>
        </div>
        <!-- slider -->
        <div class="space-40"></div>
        <div style="margin-left: 0.5em" class="row">
            <div class="col text-center hover-hidden wow slideInUp">
                <img class="circle-slider" src="./assets/images/mobile/personaje-2-02.png" alt="Componente corporativo de nuestra agencia">
                <div id="carouselMobile" class="carousel slide carousel-fade slider-position" data-ride="carousel">
                    <div class="carousel-inner">
                        <div class="carousel-item active">
                            <img src="./assets/images/desktop/carlos.png" class="d-block img-slider" alt="CEO de la agencia">
                            <div class="carousel-caption d-md-none slider-label">
                                <h1 class="font-25 Gotham-Book about-title">Carlos Estarita</h1>
                                <h5 class="font-18 LinotteRegular about-title">CEO & Project Manager</h5>
                            </div>
                        </div>
                        <div class="carousel-item">
                            <img src="./assets/images/desktop/maiky.png" class="d-block img-slider" alt="Líder de estrategias de marketing">
                            <div class="carousel-caption d-md-none slider-label">
                                <h1 class="font-25 Gotham-Book about-title">Maiky Sanchez</h1>
                                <h5 class="font-18 LinotteRegular about-title">Co-Founder</h5>
                            </div>
                        </div>
                        <div class="carousel-item">
                            <img src="./assets/images/desktop/pablo.png" class="d-block img-slider" alt="Diseñador web creativo">
                            <div class="carousel-caption d-md-none slider-label">
                                <h1 class="font-25 Gotham-Book about-title">Pablo Vasquez</h1>
                                <h5 class="font-18 LinotteRegular about-title">Graphic Designer</h5>
                            </div>
                        </div>
                    </div>
                    <a class="carousel-control-prev" href="#carouselMobile" role="button" data-slide="prev">
                        <img src="./assets/images/mobile/flecha-02.png" alt="Cambiar patner">
                    </a>
                </div>
            </div>
        </div>
        <!-- end slider -->
        <!-- we do -->
        <div style="margin-top: -20%" class="row">
            <div class="col text-center">
                <h1 class="LinotteRegular font-45 about-title text-uppercase wow slideInUp">
                    ¿Qué <br> Hacemos?
                </h1>
                <div class="space-30"></div>
                <article>
                    <p class="LinotteLight font-20 text-color about-texts wow slideInUp">
                        <strong>En Syfte combinamos todas las herramientas en una sola para crear bases sólidas
                         para cada negocio</strong>, arrancamos con reuniones por zoom o Skype para explorar las ideas de los clientes y en base a eso elaboramos un plan de <strong>Branding (marca), Diseño Visual y lo llevamos a
                         Diseño Web, Sistemas inteligentes y Apps en caso de ser necesarias</strong>. Estos son los servicios que ofrecemos a nuestros consumidores.
                    </p>
                    <div class="space-40"></div>
                    <ul class="services-list services-mg WOW slideInUp">
                        <li>Marketing</li>
                        <li>Diseño UX/UI</li>
                        <li>Backend</li>
                        <li>Desarrollo de Apps</li>
                        <li>Diseño Web</li>
                        <li>Diseño Visual</li>
                        <li>SEO & SEMM</li>
                        <li>Branding</li>
                    </ul>
                    <img class="wow slideInUp" src="./assets/images/mobile/herramientas-02.png" alt="Componentes de diseño web">
                </article>
            </div>
        </div>
        <!-- end we do-->
    </div>
</section>
<!-- end mobile -->
<div class="space-150 d-none d-md-block"></div>