<div class="space-200 d-none d-xl-block"></div>
<div class="space-120 d-none d-md-block d-xl-none"></div>
<div class="container">
    <div class="container-fluid">
        <!-- Desktop -->
        <section class="text-center">
            <div class="space-80 d-md-none"></div>
            <div class="row">
                <div class="col-sm text-center offset-lg-5 d-none d-md-block">
                    <h1 class="LinotteRegular font-65 about-title text-uppercase wow slideInLeft">
                        ¿QUÉ ES SYFTE?
                    </h1>
                    <article class="wow slideInLeft">
                        <p class="LinotteLight font-20 text-color about-texts">
                            Syfte es una agencia creativa que surgió debido a la insuficiencia e inexperiencia que tenían nuestros clientes para mantener un negocio a flote, es muy común que al crear una página web que venda un producto o una tienda virtual, que tenga pocas vistas
                            y pocos clics, lo que se resume a perdida, seguida de fracaso. Nosotros sabemos que la mayoría de las veces esto sucede, por lo que ofrecemos la habilidad y experiencia necesaria para unificar todo en un solo producto y lo
                            ofrecemos a los clientes.
                        </p>
                    </article>
                </div>
                <!-- mobile -->
                <div class="col-sm text-center offset-lg-5 d-md-none">
                    <h1 class="LinotteRegular font-32 about-title text-uppercase wow slideInLeft">
                        ¿QUÉ ES SYFTE?
                    </h1>
                    <article class="wow slideInLeft">
                        <p class="LinotteLight font-16 text-color about-texts">
                            Syfte es una agencia creativa que surgió debido a la insuficiencia e inexperiencia que tenían nuestros clientes para mantener un negocio a flote, es muy común que al crear una página web que venda un producto o una tienda virtual, que tenga pocas vistas
                            y pocos clics, lo que se resume a perdida, seguida de fracaso. Nosotros sabemos que la mayoría de las veces esto sucede, por lo que ofrecemos la habilidad y experiencia necesaria para unificar todo en un solo producto y lo
                            ofrecemos a los clientes.
                        </p>
                    </article>
                </div>
                <!-- end mobile-->
            </div>
            <div class="space-200 d-none d-md-block"></div>
            <div class="space-100 d-none d-md-block"></div>
            <div class="space-60 d-md-none"></div>
            <div class="row">
                <div class="col-sm text-center offset-lg-1 d-none d-md-block">
                    <h1 class="LinotteRegular font-65 about-title text-uppercase wow slideInRight">
                        Misión
                    </h1>
                    <article class="wow slideInLeft">
                        <p class="LinotteLight font-20 text-color about-texts">
                            El objetivo de <strong>Syfte es hacer que tus ideas y metas se conviertan en un negocio
                            exitoso</strong> a través de un plan de trabajo que discutimos personalmente con cada cliente, cada servicio que ofrecemos es un pilar fundamental que transformamos en <strong>experiencia óptima y
                            combinándolo con estrategias de Marketing se traduce a Sitios web y Apps elegantes</strong>.
                        </p>
                    </article>
                </div>
                <div class="col-sm text-center offset-lg-1 d-md-none">
                    <h1 class="LinotteRegular font-32 about-title text-uppercase wow slideInRight">
                        Misión
                    </h1>
                    <article class="wow slideInLeft">
                        <p class="LinotteLight font-16 text-color about-texts">
                            El objetivo de <strong>Syfte es hacer que tus ideas y metas se conviertan en un negocio
                                exitoso</strong> a través de un plan de trabajo que discutimos personalmente con cada cliente, cada servicio que ofrecemos es un pilar fundamental que transformamos en <strong>experiencia óptima y
                                combinándolo con estrategias de Marketing se traduce a Sitios web y Apps elegantes</strong>.
                        </p>
                    </article>
                    <div class="space-50 d-md-none"></div>
                </div>
                <div class="col-sm text-left offset-lg-2 wow slideInRight">
                    <div id="carouselExampleCaptions" class="carousel slide carousel-fade" data-ride="carousel">
                        <ol class="carousel-indicators">
                            <li data-target="#carouselExampleCaptions" data-slide-to="0" class="active"></li>
                            <li data-target="#carouselExampleCaptions" data-slide-to="1"></li>
                            <li data-target="#carouselExampleCaptions" data-slide-to="2"></li>
                        </ol>
                        <div class="carousel-inner">
                            <div class="carousel-item active">
                                <h1 class="text-center LinotteRegular about-texts">Carlos Estarita</h1>
                                <h5 class="text-center LinotteRegular about-texts">Founder & CEO</h5>
                                <div class="space-20"></div>
                                <img src="./assets/images/desktop/carlos.png" class="d-block w-100" alt="Marketing-CEO">
                            </div>
                            <div class="carousel-item">
                                <h1 class="text-center LinotteRegular about-texts">Maiky Sanchéz</h1>
                                <h5 class="text-center LinotteRegular about-texts">Co-founder & Vicepresidente</h5>
                                <div class="space-20"></div>
                                <img src="./assets/images/desktop/maiky.png" class="d-block w-100" alt="Co-founder">
                            </div>
                            <div class="carousel-item">
                                <h1 class="text-center LinotteRegular about-texts">Pablo Vásquez</h1>
                                <h5 class="text-center LinotteRegular about-texts">Diseñador Gráfico</h5>
                                <div class="space-20"></div>
                                <img src="./assets/images/desktop/pablo.png" class="d-block w-100" alt="Designer">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="space-200 d-none d-md-block"></div>
            <div class="space-80 d-md-none"></div>
            <div class="row">
                <div class="col-sm text-center d-none d-md-block">
                    <h1 class="LinotteRegular font-65 about-title text-uppercase wow slideInRight">
                        ¿QUÉ HACEMOS?
                    </h1>
                    <article class="wow slideInUp">
                        <p class="LinotteLight font-20 text-color about-texts">
                            <strong>En Syfte combinamos todas las herramientas en una sola para crear bases sólidas
                            para cada negocio</strong>, arrancamos con reuniones por zoom o Skype para explorar las ideas de los clientes y en base a eso elaboramos un plan de <strong>Branding (marca), Diseño Visual y lo llevamos a
                            Diseño Web, Sistemas inteligentes y Apps en caso de ser necesarias</strong>. Estos son los servicios que ofrecemos a nuestros clientes.
                        </p>
                    </article>
                </div>
                <div class="col-sm text-center d-md-none">
                    <h1 class="LinotteRegular font-32 about-title text-uppercase wow slideInRight">
                        ¿QUÉ HACEMOS?
                    </h1>
                </div>
            </div>
            <div class="space-30"></div>
            <!-- desktop -->
            <section class="d-none d-xl-block">
                <div class="row">
                    <div class="col-sm text-center">
                        <mat-card class="bg-card-dark">
                            <mat-card-header style="position: relative; left: 5%;" class="offset-xl-1">
                                <h4 class="LinotteRegular about-title text-center font-22">
                                    Plan de Marketing
                                </h4>
                            </mat-card-header>
                            <mat-card-content>
                                <figure class="text-center">
                                    <img class="w-25" alt="Marketing" title="Plan de Marketing" src="./assets/images/desktop/about-ico/mark.png" />
                                </figure>
                            </mat-card-content>
                        </mat-card>
                    </div>
                    <div class="col-sm text-center">
                        <mat-card class="bg-card-dark">
                            <mat-card-header class="offset-xl-2 about-ico-mg">
                                <h4 class="LinotteRegular about-title text-center font-18">
                                    Marketing Automation
                                </h4>
                            </mat-card-header>
                            <div class="space-15"></div>
                            <mat-card-content>
                                <figure class="text-center offset-1">
                                    <img class="w-25" alt="Marketing-automation" title="Marketing automation" src="./assets/images/desktop/about-ico/automation.png" />
                                </figure>
                            </mat-card-content>
                        </mat-card>
                    </div>
                    <div class="col-sm text-center">
                        <mat-card class="bg-card-dark">
                            <mat-card-header class="offset-xl-2 about-ico-mg">
                                <h4 class="LinotteRegular about-title text-center font-20">
                                    CRM & Autogestión
                                </h4>
                            </mat-card-header>
                            <div class="space-15"></div>
                            <mat-card-content>
                                <figure class="text-center">
                                    <img class="w-25" alt="CRM" title="CRM" src="./assets/images/desktop/about-ico/CRM.jpg" />
                                </figure>
                            </mat-card-content>
                        </mat-card>
                    </div>
                </div>
                <div class="space-80"></div>
                <div class="row">
                    <div class="col-sm text-center">
                        <mat-card class="bg-card-dark">
                            <mat-card-header style="position: relative; left: 2%;" class="offset-xl-2">
                                <h4 class="LinotteRegular about-title text-center font-20">Landing Pages</h4>
                            </mat-card-header>
                            <div class="space-15"></div>
                            <mat-card-content>
                                <figure class="text-center">
                                    <img class="w-25" src="./assets/images/desktop/about-ico/web.png" title="Landing Pages" alt="Landing Pages">
                                </figure>
                            </mat-card-content>
                        </mat-card>
                    </div>
                    <div class="col-sm text-center">
                        <mat-card class="bg-card-dark">
                            <mat-card-header class="offset-xl-2 about-ico-mg">
                                <h4 class="LinotteRegular about-title text-center font-20">
                                    Identidad visual
                                </h4>
                            </mat-card-header>
                            <div class="space-15"></div>
                            <mat-card-content>
                                <figure class="text-center">
                                    <img class="w-25" src="./assets/images/desktop/about-ico/visual.png" title="Identidad visual" alt="identidad-visual">
                                </figure>
                            </mat-card-content>
                        </mat-card>
                    </div>
                    <div class="col-sm text-center">
                        <mat-card class="bg-card-dark">
                            <mat-card-header class="offset-xl-2 about-ico-mg">
                                <h4 class="LinotteRegular about-title text-center font-20">
                                    Publicidad Online
                                </h4>
                            </mat-card-header>
                            <div class="space-15"></div>
                            <mat-card-content>
                                <figure class="text-center">
                                    <img class="w-25" src="./assets/images/desktop/about-ico/SEO.png" title="ads" alt="ads">
                                </figure>
                            </mat-card-content>
                        </mat-card>
                    </div>
                </div>
                <div class="space-80"></div>
                <div class="row">
                    <div class="col-sm text-center">
                        <mat-card class="bg-card-dark">
                            <mat-card-header class="offset-xl-3">
                                <h4 class="LinotteRegular about-title text-center font-20">Branding</h4>
                            </mat-card-header>
                            <div class="space-15"></div>
                            <mat-card-content>
                                <figure class="text-center">
                                    <img class="w-25" src="./assets/images/desktop/about-ico/brand.png" title="Branding" alt="Branding">
                                </figure>
                            </mat-card-content>
                        </mat-card>
                    </div>
                    <div class="col-sm text-center">
                        <mat-card class="bg-card-dark">
                            <mat-card-header class="offset-xl-2">
                                <h4 class="LinotteRegular about-title text-center font-20">
                                    Desarrollo de Apps
                                </h4>
                            </mat-card-header>
                            <div class="space-15"></div>
                            <mat-card-content>
                                <figure class="text-center">
                                    <img class="w-25" alt="Apps-development" title="Apps" src="./assets/images/desktop/about-ico/APP.jpg" />
                                </figure>
                            </mat-card-content>
                        </mat-card>
                    </div>
                    <div class="col-sm text-center">
                        <mat-card class="bg-card-dark">
                            <mat-card-header style="position: relative; left: 3%;" class="offset-xl-1">
                                <h4 class="LinotteRegular about-title text-center font-20">
                                    Métricas mensuales
                                </h4>
                            </mat-card-header>
                            <div class="space-15"></div>
                            <mat-card-content>
                                <figure class="text-center">
                                    <img class="w-25" src="./assets/images/desktop/about-ico/analytics.png" title="ads" alt="ads">
                                </figure>
                            </mat-card-content>
                        </mat-card>
                    </div>
                </div>
            </section>
            <!-- end desktop -->
            <!-- tablet -->
            <section class="d-none d-md-block d-xl-none">
                <div class="row">
                    <div class="col-sm text-center">
                        <mat-card class="bg-card-dark">
                            <mat-card-header class="offset-md-1">
                                <h4 class="LinotteRegular about-title text-center font-22">
                                    Plan de Marketing
                                </h4>
                            </mat-card-header>
                            <mat-card-content>
                                <figure class="text-center">
                                    <img class="w-50 offset-md-4" alt="Marketing" title="Plan de Marketing" src="./assets/images/desktop/about-ico/mark.png" />
                                </figure>
                            </mat-card-content>
                        </mat-card>
                    </div>
                    <div class="col-sm text-center">
                        <mat-card class="bg-card-dark">
                            <mat-card-header class="offset-md-2 about-ico-mg">
                                <h4 class="LinotteRegular about-title text-center font-18">
                                    Marketing Automation
                                </h4>
                            </mat-card-header>
                            <div class="space-15"></div>
                            <mat-card-content>
                                <figure class="text-center offset-1">
                                    <img class="w-50 offset-md-4" alt="Marketing-automation" title="Marketing automation" src="./assets/images/desktop/about-ico/automation.png" />
                                </figure>
                            </mat-card-content>
                        </mat-card>
                    </div>
                    <div class="col-sm text-center">
                        <mat-card class="bg-card-dark">
                            <mat-card-header class="offset-md-2 about-ico-mg">
                                <h4 class="LinotteRegular about-title text-center font-20">
                                    CRM & Autogestión
                                </h4>
                            </mat-card-header>
                            <div class="space-15"></div>
                            <mat-card-content>
                                <figure class="text-center">
                                    <img class="w-50 offset-md-4" alt="CRM" title="CRM" src="./assets/images/desktop/about-ico/CRM.jpg" />
                                </figure>
                            </mat-card-content>
                        </mat-card>
                    </div>
                </div>
                <div class="space-50"></div>
                <div class="row">
                    <div class="col-sm text-center">
                        <mat-card class="bg-card-dark">
                            <mat-card-header class="offset-md-2">
                                <h4 class="LinotteRegular about-title text-center font-20">Landing Pages</h4>
                            </mat-card-header>
                            <div class="space-15"></div>
                            <mat-card-content>
                                <figure class="text-center">
                                    <img class="w-50 offset-md-4" src="./assets/images/desktop/about-ico/web.png" title="Landing Pages" alt="Landing Pages">
                                </figure>
                            </mat-card-content>
                        </mat-card>
                    </div>
                    <div class="col-sm text-center">
                        <mat-card class="bg-card-dark">
                            <mat-card-header class="offset-md-2 about-ico-mg">
                                <h4 class="LinotteRegular about-title text-center font-20">
                                    Identidad visual
                                </h4>
                            </mat-card-header>
                            <div class="space-15"></div>
                            <mat-card-content>
                                <figure class="text-center">
                                    <img class="w-50 offset-md-4" src="./assets/images/desktop/about-ico/visual.png" title="Identidad visual" alt="identidad-visual">
                                </figure>
                            </mat-card-content>
                        </mat-card>
                    </div>
                    <div class="col-sm text-center">
                        <mat-card class="bg-card-dark">
                            <mat-card-header class="offset-md-2 about-ico-mg">
                                <h4 class="LinotteRegular about-title text-center font-20">
                                    Publicidad Online
                                </h4>
                            </mat-card-header>
                            <div class="space-15"></div>
                            <mat-card-content>
                                <figure class="text-center">
                                    <img class="w-50 offset-md-4" src="./assets/images/desktop/about-ico/SEO.png" title="ads" alt="ads">
                                </figure>
                            </mat-card-content>
                        </mat-card>
                    </div>
                </div>
                <div class="space-50"></div>
                <div class="row">
                    <div class="col-sm text-center">
                        <mat-card class="bg-card-dark">
                            <mat-card-header class="offset-md-2">
                                <h4 class="LinotteRegular about-title text-center font-20">Branding</h4>
                            </mat-card-header>
                            <div class="space-15"></div>
                            <mat-card-content>
                                <figure class="text-center">
                                    <img class="w-50 offset-md-4" src="./assets/images/desktop/about-ico/brand.png" title="Branding" alt="Branding">
                                </figure>
                            </mat-card-content>
                        </mat-card>
                    </div>
                    <div class="col-sm text-center">
                        <mat-card class="bg-card-dark">
                            <mat-card-header class="offset-md-2">
                                <h4 class="LinotteRegular about-title text-center font-20">
                                    Desarrollo de Apps
                                </h4>
                            </mat-card-header>
                            <div class="space-15"></div>
                            <mat-card-content>
                                <figure class="text-center">
                                    <img class="w-50 offset-md-4" alt="Apps-development" title="Apps" src="./assets/images/desktop/about-ico/APP.jpg" />
                                </figure>
                            </mat-card-content>
                        </mat-card>
                    </div>
                    <div class="col-sm text-center">
                        <mat-card class="bg-card-dark">
                            <mat-card-header class="offset-md-2">
                                <h4 class="LinotteRegular about-title text-center font-20">
                                    Métricas mensuales
                                </h4>
                            </mat-card-header>
                            <div class="space-15"></div>
                            <mat-card-content>
                                <figure class="text-center">
                                    <img class="w-50 offset-md-4" src="./assets/images/desktop/about-ico/analytics.png" title="ads" alt="ads">
                                </figure>
                            </mat-card-content>
                        </mat-card>
                    </div>
                </div>
            </section>
            <!-- end tablet -->
            <!-- mobile -->
            <section class="d-md-none">
                <div class="row center-icos-320">
                    <div class="col">
                        <mat-card class="bg-card-dark">
                            <mat-card-header class="icos-header-320">
                                <h4 class="LinotteRegular about-title font-14 text-center">
                                    Plan de <br> Marketing
                                </h4>
                            </mat-card-header>
                            <mat-card-content>
                                <figure>
                                    <img class="img-thumbnail no-border bg-card-dark" alt="Marketing" title="Plan de Marketing" src="./assets/images/desktop/about-ico/mark.png" />
                                </figure>
                            </mat-card-content>
                        </mat-card>
                        <div class="space-40"></div>
                    </div>
                    <div class="col">
                        <mat-card class="bg-card-dark">
                            <mat-card-header class="icos-header-320">
                                <h4 class="LinotteRegular about-title font-14 text-center">
                                    Marketing <br> Automation
                                </h4>
                            </mat-card-header>
                            <mat-card-content>
                                <figure>
                                    <img class="img-thumbnail no-border bg-card-dark offset-1" alt="Marketing-automation" title="Marketing-automation" src="./assets/images/desktop/about-ico/automation.png" />
                                </figure>
                            </mat-card-content>
                        </mat-card>
                        <div class="space-40"></div>
                    </div>
                </div>
                <div class="row center-icos-320">
                    <div class="col">
                        <mat-card class="bg-card-dark">
                            <mat-card-header class="icos-header-320">
                                <h4 class="LinotteRegular about-title font-14 text-center">
                                    Identidad <br> visual
                                </h4>
                            </mat-card-header>
                            <mat-card-content>
                                <figure>
                                    <img class="img-thumbnail no-border bg-card-dark" alt="identidad-visual" title="identidad-visual" src="./assets/images/desktop/about-ico/visual.png" />
                                </figure>
                            </mat-card-content>
                        </mat-card>
                        <div class="space-40"></div>
                    </div>
                    <div class="col">
                        <mat-card class="bg-card-dark">
                            <mat-card-header class="icos-header-320">
                                <h4 class="LinotteRegular about-title font-14 text-center">
                                    Publicidad <br> Online
                                </h4>
                            </mat-card-header>
                            <mat-card-content>
                                <figure>
                                    <img class="img-thumbnail no-border bg-card-dark offset-1" alt="ads" title="Publicidad" src="./assets/images/desktop/about-ico/SEO.png" />
                                </figure>
                            </mat-card-content>
                        </mat-card>
                        <div class="space-40"></div>
                    </div>
                </div>
                <div class="row center-icos-320">
                    <div class="col">
                        <mat-card class="bg-card-dark">
                            <mat-card-header class="icos-header-320">
                                <h4 class="LinotteRegular about-title font-14 text-center">
                                    CRM & <br> Autogestión
                                </h4>
                            </mat-card-header>
                            <mat-card-content>
                                <figure>
                                    <img class="img-thumbnail no-border bg-card-dark" alt="CRM" title="Autogestión" src="./assets/images/desktop/about-ico/CRM.jpg" />
                                </figure>
                            </mat-card-content>
                        </mat-card>
                        <div class="space-40"></div>
                    </div>
                    <div class="col">
                        <mat-card class="bg-card-dark">
                            <mat-card-header class="icos-header-320">
                                <h4 class="LinotteRegular about-title font-14 text-center">
                                    Landing <br> Pages
                                </h4>
                            </mat-card-header>
                            <mat-card-content>
                                <figure>
                                    <img class="img-thumbnail no-border bg-card-dark offset-1" alt="Landing-Pages" title="Landing Pages" src="./assets/images/desktop/about-ico/web.png" />
                                </figure>
                            </mat-card-content>
                        </mat-card>
                        <div class="space-40"></div>
                    </div>
                </div>
                <div class="row center-icos-320">
                    <div class="col">
                        <mat-card class="bg-card-dark">
                            <mat-card-header class="icos-header-320">
                                <h4 class="LinotteRegular about-title font-14 text-center">
                                    Branding
                                </h4>
                            </mat-card-header>
                            <mat-card-content>
                                <figure>
                                    <img class="img-thumbnail no-border bg-card-dark" alt="Branding" title="Branding" src="./assets/images/desktop/about-ico/brand.png" />
                                </figure>
                            </mat-card-content>
                        </mat-card>
                        <div class="space-40"></div>
                    </div>
                    <div class="col">
                        <mat-card class="bg-card-dark">
                            <mat-card-header class="icos-header-320">
                                <h4 class="LinotteRegular about-title font-14 text-center">
                                    Aplicaciones <br> Móviles
                                </h4>
                            </mat-card-header>
                            <mat-card-content>
                                <figure>
                                    <img class="img-thumbnail no-border bg-card-dark offset-1" alt="Apps-development" title="Aplicaciones móviles" src="./assets/images/desktop/about-ico/APP.jpg" />
                                </figure>
                            </mat-card-content>
                        </mat-card>
                        <div class="space-40"></div>
                    </div>
                </div>
            </section>
            <!-- end mobile -->
            <!-- CTA -->
            <div class="space-30"></div>
            <div class="row text-center">
                <div class="col-sm">
                    <button onclick="location.href = 'https://www.syftedesigns.com/campaign/services'" mat-raised-button class="btn-block LinotteRegular font-14 text-bold col-md-5 col-xl-4">
                        Explorar servicios
                    </button>
                </div>
            </div>
            <!-- end CTA-->
        </section>
        <!-- End Desktop -->
    </div>
</div>