<div class="space-25 d-none d-xl-block"></div>
<div class="space-150 d-none d-md-block d-xl-none"></div>
<div class="space-50 d-md-none"></div>
<!-- desktop -->
<section class="d-none d-xl-block bg-app">
    <div class="container-fluid">
        <div class="row">
            <div class="col-sm text-center offset-xl-0 wow slideInLeft">
                <div class="space-90"></div>
                <h1 class="text-uppercase font-45 Aquatico-Regular">
                    Aplicaciones <br> Moviles
                </h1>
                <div class="col-sm-6 offset-3">
                    <article>
                        <p style="color: #6c6770" class="text-center LinotteLight font-18">
                            Estamos en una época donde lo que más vende es la portabilidad y la comodidad para el usuario, no es lo mismo estar sentado en un ordenador o ir cada segundo a tu navegador web del teléfono que tener una app, por lo que en <strong>Syfte creamos apps desde nativas hasta hibridas
                            para tu negocio.</strong>
                        </p>
                    </article>
                    <div id="sticky" class="col-sm">
                        <img class="wow slideInUp" src="./assets/images/desktop/Mco1-04.png" alt="syfte_app_employment">
                    </div>
                </div>
            </div>
            <div class="col-sm">
                <img class="wow slideInUp" style="margin-top: -5%; width: 100%; margin-left: -10em" src="./assets/images/desktop/Mco-04.png" alt="syfte_app_development">
            </div>
        </div>
        <!-- static buttons -->
        <div class="arrow-800 desktop-tablet-h" style="margin-top: -5%">
            <app-button-slider></app-button-slider>
        </div>
        <!-- end static buttons -->
    </div>
</section>
<!-- end desktop -->
<!-- tablet -->
<section class="d-none d-md-block d-xl-none">
    <div class="container-fluid">
        <div class="row">
            <div class="col-sm text-center">
                <h1 class="Aquatico-Regular text-uppercase font-25 wow bounceInLeft">
                    Aplicaciones <br> Moviles
                </h1>
                <div class="col-sm">
                    <article class="wow slideInLeft">
                        <p style="color: #6c6770" class="text-center LinotteLight font-14">
                            Estamos en una época donde lo que más vende es la portabilidad y la comodidad para el usuario, no es lo mismo estar sentado en un ordenador o ir cada segundo a tu navegador web del teléfono que tener una app, por lo que en <strong>Syfte creamos apps desde nativas hasta hibridas
                            para tu negocio.</strong>
                        </p>
                    </article>
                    <img class="brand-employer wow slideInUp" src="./assets/images/tablet/MCO2-06.png" alt="syfte_app_employment">
                </div>
            </div>
            <div class="col-sm">
                <img class="mkt-bg wow slideInUp" src="./assets/images/tablet/MCO!-06.png" alt="syfte_app_development">
            </div>
        </div>
        <!-- static buttons -->
        <div class="space-20"></div>
        <app-button-slider></app-button-slider>
        <!-- end static buttons -->
    </div>
</section>
<!-- end tablet -->
<!-- mobile -->
<section class="d-md-none">
    <div class="container">
        <div class="row">
            <div class="col-sm text-center margin-section">
                <h1 class="Aquatico-Regular text-uppercase font-32 wow bounceInLeft">Aplicaciones <br> Moviles
                </h1>
                <div class="col text-center">
                    <div class="space-20"></div>
                    <article class="wow slideInLeft">
                        <p class="text-center LinotteLight font-16 text-color">
                            Estamos en una época donde lo que más vende es la portabilidad y la comodidad para el usuario, no es lo mismo estar sentado en un ordenador o ir cada segundo a tu navegador web del teléfono que tener una app, por lo que en <strong>Syfte creamos apps desde nativas hasta hibridas
                            para tu negocio.</strong>
                        </p>
                    </article>
                </div>
                <div class="space-20"></div>
                <div class="col-sm">
                    <img class="bg-margin w-100 wow bounceInUp" src="./assets/images/mobile/MCO-06.png" alt="syfte_app">
                </div>
            </div>
        </div>
        <!-- static buttons -->
        <app-button-slider></app-button-slider>
        <!-- end static buttons -->
    </div>
</section>
<!-- end mobile -->