.landing-titles {
    color: #5d5d5d;
}

.landing-texts {
    color: #6c6770 !important
}

.figure-animate:hover {
    -webkit-animation: pulse 1s;
    animation: pulse 1s;
}

.btn-movie {
    background-color: #4d5050
}

@media only screen and (min-width: 1600px) {
    .backend-figure {
        border: 0px;
        width: 130% !important;
        margin-top: -30%
    }
}

@media only screen and (min-width: 1200px) and (max-width: 1480px) {
    .backend-figure {
        width: 100%;
        margin-top: -30%
    }
}

@media only screen and (min-width: 1485px) and (max-width: 1599px) {
    .backend-figure {
        width: 120%;
        margin-top: -20%
    }
}

@media only screen and (min-width: 1200px) {
    .case2 {
        position: relative;
        left: 10%;
    }
    .figure-experience {
        position: absolute;
        width: 130%;
        margin-top: -20%
    }
    .bg-landing {
        background-image: url(../../../assets/images/desktop/bg-home-update.png) !important;
        background-repeat: no-repeat;
        background-size: cover;
        background-position: bottom;
        background-color: white;
    }
}

@media only screen and (min-width: 980px) and (max-width: 1024px) {
    .margin-case1 {
        margin-top: -20%
    }
    .btn-watch-m {
        margin-left: 25%
    }
}

@media only screen and (min-width: 1200px) {
    .section-cut {
        position: relative;
        top: 3em
    }
}

@media only screen and (min-width: 768px) and (max-width: 1024px) {
    .section-cut {
        position: relative;
        top: 1.8em
    }
    .bg-landing {
        background-image: url(../../../assets/images/tablet/bg-landing-tablet.png) !important;
        background-repeat: no-repeat;
        background-size: cover;
        background-position: bottom;
        background-color: white;
    }
    .backend-figure {
        margin-top: -20%
    }
}

@media only screen and (max-width: 480px) {
    .section-cut {
        position: relative;
        top: 1.8em
    }
    .bg-landing {
        background-image: url(../../../assets/images/mobile/bg-landing-mobile.png) !important;
        background-repeat: no-repeat;
        background-position: top;
        background-color: white;
    }
}

@media only screen and (min-width: 1280px) {
    .btn-watch-d {
        display: block;
    }
    .btn-watch-d2 {
        display: none;
    }
}

@media only screen and (min-width: 1200px) and (max-width: 1275px) {
    .btn-watch-d {
        display: none;
    }
    .btn-watch-d2 {
        display: block;
    }
}