<div class="container">
    <div class="container-fluid">
        <div class="row">
            <div style="text-align: right" class="col">
                <i (click)="closeVideo();" class="material-icons pointer text-white font-30 close-button-m">
              highlight_off
              </i>
            </div>
        </div>
    </div>
</div>
<div class="space-10"></div>
<iframe class="iframe-mg" [width]="anchor" [height]="height" src="https://www.youtube.com/embed/Xq_mhIR2l00" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>