@media only screen and (min-width: 768px) and (max-width: 1024px) {
    .iframe-mg {
        margin-left: -0.5em
    }
    .close-button-m {
        position: relative;
        left: 1em;
    }
}

@media only screen and (min-width: 375px) and (max-width: 480px) {
    .iframe-mg {
        margin-left: -1em;
        margin-top: -0.5em
    }
}

@media only screen and (min-width: 320px) and (max-width: 370px) {
    .iframe-mg {
        margin-left: -1em;
        margin-top: -0.5em
    }
}

@media only screen and (max-width: 480px) {
    .close-button-m {
        position: relative;
        left: 1em;
    }
}

@media only screen and (min-width: 1200px) {
    .close-button-m {
        position: relative;
        left: 1em;
    }
}