<div class="row">
    <video id="video-bg" autoplay controls loop>
            <source src="./assets/images/desktop/video-bg-smoke.mp4" type="video/mp4">
          Your browser does not support the video tag.
    </video>
    <div class="container-fluid video-container">
        <div class="space-200"></div>
        <div class="row">
            <div class="col-sm text-center">
                <div id="carouselExampleControls" class="carousel slide" data-ride="carousel">
                    <div class="carousel-inner">
                        <div class="carousel-item active">
                            <h1 class="text-white Aquatico-Regular font-20 d-md-none">Consultoria Digital</h1>
                            <h1 class="text-white Aquatico-Regular font-50 d-none d-md-block">Consultoria Digital</h1>
                            <article>
                                <p class="text-slider LinotteRegular font-22 text-bold d-none d-md-block">
                                    Unete a nuestro programa de consultoría digital, donde un especialista <br> te ayudará a definir tus objetivos y recomendarte los mejores canales para conectar con tu audiencia.
                                </p>
                                <p class="text-slider LinotteRegular font-14 text-bold d-md-none">
                                    Unete a nuestro programa de consultoría digital, <br> donde un especialista te ayudará a definir tus objetivos y recomendarte los mejores canales para conectar con tu audiencia.
                                </p>
                                <div class="col-sm">
                                    <button onclick="location.href = 'https://www.syftedesigns.com/campaign/es/marketing'" class="text-bold LinotteRegular" mat-raised-button color="primary">Más información</button>
                                    <button [routerLink]="['/contacto']" class="text-bold LinotteRegular" style="margin-left: 1em" mat-raised-button>Contáctanos</button>
                                </div>
                            </article>
                        </div>
                        <div class="carousel-item">
                            <h1 class="text-white Aquatico-Regular font-20 d-md-none">Se parte de nuestro TechCamp</h1>
                            <h1 class="text-white Aquatico-Regular font-50 d-none d-md-block">Se parte de nuestro TechCamp</h1>
                            <article>
                                <p class="text-slider LinotteRegular font-22 text-bold d-none d-md-block">
                                    Ofrecele a tu audiencia una experiencia memorable, <br> con herramientas automatizadas integradas por nuestro #DeveloperTeam.
                                </p>
                                <p class="text-slider LinotteRegular font-14 text-bold d-md-none">
                                    Ofrecele a tu audiencia una experiencia memorable, <br> con herramientas automatizadas integradas por nuestro #DeveloperTeam.
                                </p>
                                <div class="col-sm">
                                    <button onclick="location.href = 'https://www.syftedesigns.com/campaign/es/website'" class="text-bold LinotteRegular" mat-raised-button>Más información</button>
                                </div>
                            </article>
                        </div>
                        <div class="carousel-item">
                            <h1 class="text-white Aquatico-Regular font-50 d-none d-md-block">
                                Te ayudamos a vender mas
                            </h1>
                            <h1 class="text-white Aquatico-Regular font-20 d-md-none">
                                Te ayudamos <br> a vender mas
                            </h1>
                            <article>
                                <p class="text-slider LinotteRegular font-22 text-bold d-none d-md-block">
                                    Creamos un plan de marketing y lo integramos en los canales de venta digitales,<br> basado en los estudios demográficos para alcanzar a tu BuyerPerson
                                </p>
                                <p class="text-slider LinotteRegular font-14 text-bold d-md-none">
                                    Creamos un plan de marketing y lo integramos en los canales de venta digitales, basado en los estudios demográficos para alcanzar a tu BuyerPerson
                                </p>
                                <div class="col-sm">
                                    <button onclick="location.href = 'https://www.syftedesigns.com/campaign/es/marketing'" class="text-bold LinotteRegular" mat-raised-button>Más información</button>
                                </div>
                            </article>
                        </div>
                    </div>
                    <a class="carousel-control-prev" href="#carouselExampleControls" role="button" data-slide="prev">
                        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                        <span class="sr-only">Previous</span>
                    </a>
                    <a class="carousel-control-next" href="#carouselExampleControls" role="button" data-slide="next">
                        <span class="carousel-control-next-icon" aria-hidden="true"></span>
                        <span class="sr-only">Next</span>
                    </a>
                </div>
            </div>
        </div>
        <div class="space-200 d-none d-md-block"></div>
    </div>
</div>