<div class="space-90 d-none d-xl-block"></div>
<div class="space-150 d-none d-md-block d-xl-none"></div>
<div class="space-50 d-md-none"></div>
<!-- desktop -->
<section class="d-none d-xl-block bg-ux">
    <div class="container-fluid">
        <div class="row">
            <div class="col-sm text-center offset-xl-1 wow slideInLeft mg-section">
                <div class="space-90"></div>
                <h1 class="text-uppercase font-55 Aquatico-Regular">
                    UX/UI
                </h1>
                <div class="col-sm-6 offset-3">
                    <article>
                        <p class="text-center LinotteLight font-18 text-color-default">
                            Es importante que el diseño este acompañado de una estrategia en base UX <strong>(User
                            Experience)</strong> por lo que en <strong>Syfte creamos estrategias para hacer apps y web dinámicas</strong> para enganchar al cliente a través de la interfaz de usuario, ya que. <strong>¿No quieres que te conozcan?</strong>
                        </p>
                    </article>
                </div>
            </div>
            <div class="col-sm wow slideInUp">
                <img style="margin-top: -18%; width: 120%; margin-left: -10em" src="./assets/images/desktop/Moviles.png" alt="">
            </div>
        </div>
        <!-- static buttons -->
        <div class="footer-ux arrow-800 desktop-tablet-h">
            <div class="space-100 hide-mg"></div>
            <app-button-slider></app-button-slider>
        </div>
        <!-- end static buttons -->
    </div>
</section>
<!-- end desktop -->
<!-- tablet -->
<section class="d-none d-md-block d-xl-none">
    <div class="container-fluid">
        <div class="row">
            <div class="col-sm text-center">
                <h1 class="Aquatico-Regular text-uppercase font-36 wow bounceInLeft">
                    UX/UI
                </h1>
                <div class="col-sm">
                    <article class="wow slideInLeft">
                        <p class="text-center LinotteLight font-16 text-color-default">
                            Es importante que el diseño este acompañado de una estrategia en base UX <strong>(User
                            Experience)</strong> por lo que en <strong>Syfte creamos estrategias para hacer apps y web dinámicas</strong> para enganchar al cliente a través de la interfaz de usuario, ya que. <strong>¿No quieres que te conozcan?</strong>
                        </p>
                    </article>
                </div>
            </div>
            <div class="col-sm">
                <img class="wow slideInRight" style="position: absolute; left: -10%; top: -15%" src="./assets/images/tablet/dispositivos.png" alt="syfte_marketing">
            </div>
        </div>
        <!-- static buttons -->
        <div class="space-60"></div>
        <app-button-slider></app-button-slider>
        <!-- end static buttons -->
    </div>
</section>
<!-- end tablet -->
<!-- mobile -->
<section class="d-md-none">
    <div class="container">
        <div class="row">
            <div class="col-sm text-center margin-section">
                <h1 class="Aquatico-Regular text-uppercase font-32 wow bounceInLeft">UX/UI</h1>
                <div class="col text-center">
                    <div class="space-20"></div>
                    <article class="wow slideInLeft">
                        <p class="text-center LinotteLight font-16 text-color">
                            Es importante que el diseño este acompañado de una estrategia en base UX <strong>(User
                            Experience)</strong> por lo que en <strong>Syfte creamos estrategias para hacer apps y web dinámicas</strong> para enganchar al cliente a través de la interfaz de usuario, ya que. <strong>¿No quieres que te conozcan?</strong>
                        </p>
                    </article>
                </div>
                <div class="space-20"></div>
                <div class="col-sm">
                    <img class="bg-margin wow slideInUp w-100" src="./assets/images/mobile/ux-bg--03.png" alt="syfte_ux">
                </div>
            </div>
        </div>
        <!-- static buttons -->
        <app-button-slider></app-button-slider>
        <!-- end static buttons -->
    </div>
</section>
<!-- end mobile -->