<div class="space-50 d-none d-xl-block"></div>
<div class="space-150 d-none d-md-block d-xl-none"></div>
<div class="space-50 d-md-none"></div>
<!-- desktop -->
<section class="d-none d-xl-block bg-brand">
    <div class="container-fluid">
        <div class="row">
            <div class="col-sm text-center offset-xl-1 wow slideInLeft mg-section">
                <div class="space-90"></div>
                <h1 class="text-uppercase font-55 Aquatico-Regular">
                    branding
                </h1>
                <div class="col-sm-6 offset-3">
                    <article>
                        <p style="color: #6c6770" class="text-center LinotteLight font-18">
                            Si no gestionas tu <strong>marca</strong> apropiadamente el porcentaje de éxito disminuirá notablemente. Por lo que en <strong>Syfte te ofrecemos además
                            de tu logotipo, un manual de marca y como hacer paso a paso un negocio exitoso</strong>.
                        </p>
                    </article>
                    <div id="sticky" style="margin-left: -120%; margin-top: -2em" class="col-sm wow slideInRight">
                        <img src="./assets/images/desktop/muneco-brand.png" alt="syfte_branding_employment">
                    </div>
                </div>
            </div>
            <div class="col-sm wow slideInDown">
                <img style="margin-top: -10%; width: 120%; margin-left: -10em" src="./assets/images/desktop/Saco3-08.png" alt="syfte_branding">
            </div>
        </div>
        <!-- static buttons -->
        <div class="desktop-tablet-h">
            <app-button-slider></app-button-slider>
        </div>
        <!-- end static buttons -->
    </div>
</section>
<!-- end desktop -->
<!-- Tablet -->
<section class="d-none d-md-block d-xl-none">
    <div class="container-fluid">
        <div class="row">
            <div class="col-sm text-center">
                <h1 class="Aquatico-Regular text-uppercase font-36 wow slideInLeft">
                    branding
                </h1>
                <div class="col-sm">
                    <article class="wow slideInLeft">
                        <p style="color: #6c6770" class="text-center LinotteLight font-16">
                            Si no gestionas tu <strong>marca</strong> apropiadamente el porcentaje de éxito disminuirá notablemente. Por lo que en <strong>Syfte te ofrecemos además
                            de tu logotipo, un manual de marca y como hacer paso a paso un negocio exitoso</strong>.
                        </p>
                    </article>
                    <img class="brand-employer wow bounceInLeft" src="./assets/images/tablet/MCO-05.png" alt="syfte_branding_employment">
                </div>
            </div>
            <div class="col-sm">
                <img class="mkt-bg wow slideInUp" src="./assets/images/tablet/Saco-05.png" alt="syfte_branding">
            </div>
        </div>
        <!-- static buttons -->
        <div class="space-50"></div>
        <div style="position: relative; top: -1.5em">
            <app-button-slider></app-button-slider>
        </div>
        <!-- end static buttons -->
    </div>
</section>
<!-- end Tablet -->
<!-- mobile -->
<section class="d-md-none">
    <div class="container">
        <div class="row">
            <div class="col-sm text-center  margin-section">
                <h1 class="Aquatico-Regular text-uppercase font-32 wow bounceInLeft">branding</h1>
                <div class="col text-center">
                    <div class="space-20"></div>
                    <article class="wow slideInLeft">
                        <p class="text-center LinotteLight font-16 text-color">
                            Si no gestionas tu <strong>marca</strong> apropiadamente el porcentaje de éxito disminuirá notablemente. Por lo que en <strong>Syfte te ofrecemos además
                            de tu logotipo, un manual de marca y como hacer paso a paso un negocio exitoso</strong>.
                        </p>
                    </article>
                </div>
                <div class="space-20"></div>
                <div class="col-sm">
                    <img style="position: relative; left: 2.3em;" class="bg-margin w-100 wow bounceInUp" src="./assets/images/mobile/Saco-05.png" alt="syfte_branding">
                </div>
            </div>
        </div>
        <!-- static buttons -->
        <app-button-slider></app-button-slider>
        <!-- end static buttons -->
    </div>
</section>
<!-- end mobile -->