@media only screen and (min-width: 768px) and (max-width: 980px) {
    .mkt-bg {
        position: absolute;
        left: -10%;
    }
    .mkt-employer {
        position: absolute;
        margin-left: 90%;
        margin-top: -40%
    }
}

@media only screen and (min-width:1024px) {
    .mkt-employer {
        position: absolute;
        margin-left: 105%;
        margin-top: -20%
    }
    .mkt-bg {
        position: absolute;
        width: auto;
        left: -2%;
    }
}

@media only screen and (max-width: 320px) {
    .margin-section {
        margin-left: 1em
    }
    .bg-margin {
        margin-left: -2em
    }
}

@media only screen and (max-height: 768px) {
    .desktop-tablet-h {
        position: relative;
        top: -2.5em
    }
    .mg-section {
        margin-top: -2%
    }
}