<!-- form thank -->
<div class="space-200"></div>
<section>
    <div class="container">
        <div class="row">
            <div class="col col-sm text-center">
                <h1 class="d-md-none font-38 Aquatico-Regular thank-color">
                    Thank you
                </h1>
                <h1 class="d-none d-md-block d-xl-none font-55 Aquatico-Regular thank-color">
                    Thank you
                </h1>
                <h1 class="d-none d-xl-block font-65 Aquatico-Regular thank-color">
                    Thank you
                </h1>
                <article>
                    <p class="text-dark LinotteRegular font-32 d-none d-xl-block">
                        We will get in touch with you soon Mr/Miss {{author}}
                    </p>
                    <p class="text-dark LinotteRegular d-none d-md-block d-xl-none font-25">
                        We will get in touch with you soon Mr/Miss {{author}}
                    </p>
                    <p class="text-dark LinotteRegular d-md-none font-18">
                        We will get in touch with you soon Mr/Miss {{author}}
                    </p>
                </article>
            </div>
        </div>
    </div>
</section>
<!-- end form -->