<div class="space-90 d-none d-xl-block"></div>
<div class="space-150 d-none d-md-block d-xl-none"></div>
<div class="space-50 d-md-none"></div>
<!-- desktop -->
<section class="d-none d-xl-block bg-ux">
    <div class="container-fluid">
        <div class="row">
            <div class="col-sm text-center offset-xl-0 wow slideInLeft">
                <div class="space-90"></div>
                <h1 class="text-uppercase font-55 Aquatico-Regular">
                    Adwords
                </h1>
                <div class="col-sm-6 offset-3">
                    <article>
                        <p class="text-center LinotteLight font-18 text-color-default">
                            Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec quam felis, ultricies nec, pellentesque eu, pretium quis,
                            sem.
                        </p>
                    </article>
                </div>
            </div>
            <div class="col-sm wow slideInUp">
                <img style="margin-top: -27%; width: 100%; margin-left: -10em" src="./assets/images/desktop/seo-bg.png" alt="syfte_adword">
            </div>
        </div>
        <!-- static buttons -->
        <div class="footer-ad arrow-800">
            <div class="space-100 hide-mg"></div>
            <app-button-slider></app-button-slider>
        </div>
        <!-- end static buttons -->
    </div>
</section>
<!-- end desktop -->
<!-- tablet -->
<section class="d-none d-md-block d-xl-none">
    <div class="container-fluid">
        <div class="row">
            <div style="position: relative; left: -5%;" class="col-sm text-center">
                <h1 class="Aquatico-Regular text-uppercase font-25 wow bounceInLeft">
                    Adword
                </h1>
                <div class="col-sm">
                    <article class="wow slideInLeft">
                        <p class="text-center LinotteLight font-14 text-color-default">
                            Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec quam felis, ultricies nec, pellentesque eu, pretium quis,
                            sem.
                        </p>
                    </article>
                    <img style="margin-left: -60%" src="./assets/images/tablet/MCO-07-07.png" alt="syfte_adword-employer">
                </div>
            </div>
            <div style="margin-top: -5%" class="col-sm">
                <img style="position: absolute; width: 120%; left: -5.8em; margin-top: -20%" class="wow slideInRight" src="./assets/images/tablet/seooo-07.png" alt="syfte_adword">
            </div>
        </div>
        <!-- static buttons -->
        <div class="space-60 d-md-none d-lg-block d-xl-none"></div>
        <app-button-slider></app-button-slider>
        <!-- end static buttons -->
    </div>
</section>
<!-- end tablet -->
<!-- mobile -->
<section class="d-md-none">
    <div class="container">
        <div class="row">
            <div class="col-sm text-center margin-section">
                <h1 class="Aquatico-Regular text-uppercase font-32 wow bounceInLeft">Adword</h1>
                <div class="col text-center">
                    <div class="space-20"></div>
                    <article class="wow slideInLeft">
                        <p class="text-center LinotteLight font-16 text-color">
                            Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec quam felis, ultricies nec, pellentesque eu, pretium quis,
                            sem.
                        </p>
                    </article>
                </div>
                <div class="space-20"></div>
                <div class="col-sm">
                    <img class="bg-margin wow slideInUp w-100" src="./assets/images/mobile/MAQUINA-07.png" alt="syfte_adword">
                </div>
            </div>
        </div>
        <!-- static buttons -->
        <app-button-slider></app-button-slider>
        <!-- end static buttons -->
    </div>
</section>
<!-- end mobile -->