@media only screen and (min-width: 768px) and (max-width: 980px) {
    .mkt-bg {
        position: absolute;
        left: -10%;
    }
    .mkt-employer {
        position: absolute;
        margin-left: 90%;
        margin-top: -40%
    }
}

@media only screen and (min-width:1024px) {
    .mkt-employer {
        position: absolute;
        margin-left: 115%;
        margin-top: -20%
    }
    .mkt-bg {
        position: absolute;
        width: auto;
        left: -2%;
    }
}

@media only screen and (max-width: 320px) {
    .margin-section {
        margin-left: 1em
    }
    .bg-margin {
        margin-left: -2em
    }
}

@media only screen and (min-width: 1440px) and (max-width: 1599px) {
    .footer-ad {
        margin-top: -2%
    }
}

@media only screen and (min-width: 1600px) {
    .footer-ad {
        margin-top: -5%
    }
}

@media only screen and (max-height: 800px) {
    .arrow-800 {
        position: relative;
        top: -2.5em
    }
}