/* You can add global styles to this file, and also import other style files */


/*
Fonts config
*/

@import "~@angular/material/prebuilt-themes/indigo-pink.css";
@font-face {
    font-family: 'Gotham-Black';
    src: url('./assets/fonts/GOTHAM-BLACK.ttf');
}

@font-face {
    font-family: 'Gotham-BlackItalic';
    src: url('./assets/fonts/GOTHAM-BLACKITALIC.ttf');
}

@font-face {
    font-family: 'Gotham-Book';
    src: url('./assets/fonts/Gotham-Book.otf');
}

@font-face {
    font-family: 'Gotham-BookItalic';
    src: url('./assets/fonts/Gotham-BookItalic.otf');
}

@font-face {
    font-family: 'Gotham-Medium';
    src: url('./assets/fonts/Gotham-Medium.otf');
}

@font-face {
    font-family: 'Gotham-MediumItalic';
    src: url('./assets/fonts/Gotham-MediumItalic.otf');
}

@font-face {
    font-family: 'Gotham-Thin';
    src: url('./assets/fonts/Gotham-Thin.otf');
}

@font-face {
    font-family: 'Gotham-ThinItalic';
    src: url('./assets/fonts/Gotham-ThinItalic.otf');
}

@font-face {
    font-family: 'Gotham-Ultra';
    src: url('./assets/fonts/Gotham-Ultra.otf');
}

@font-face {
    font-family: 'Gotham-UltraItalic';
    src: url('./assets/fonts/Gotham-UltraItalic.otf');
}

@font-face {
    font-family: 'Aquatico-Regular';
    src: url('./assets/fonts/Aquatico-Regular.otf');
}

@font-face {
    font-family: 'LinotteLight';
    src: url('./assets/fonts/LinotteLight.otf');
}

@font-face {
    font-family: 'LinotteRegular';
    src: url('./assets/fonts/LinotteRegular.otf');
}


/*
Set Fonts fast
*/

.Gotham-black {
    font-family: 'Gotham-Black', Geneva, Tahoma, sans-serif;
}

.Gotham-UltraItalic {
    font-family: 'Gotham-UltraItalic', Geneva, Tahoma, sans-serif;
}

.Gotham-Ultra {
    font-family: 'Gotham-Ultra', Geneva, Tahoma, sans-serif;
}

.Gotham-ThinItalic {
    font-family: 'Gotham-ThinItalic', Geneva, Tahoma, sans-serif;
}

.Gotham-Thin {
    font-family: 'Gotham-Thin', Geneva, Tahoma, sans-serif;
}

.Gotham-MediumItalic {
    font-family: 'Gotham-MediumItalic', Geneva, Tahoma, sans-serif;
}

.Gotham-Medium {
    font-family: 'Gotham-Medium', Geneva, Tahoma, sans-serif;
}

.Gotham-BookItalic {
    font-family: 'Gotham-BookItalic', Geneva, Tahoma, sans-serif;
}

.Gotham-Book {
    font-family: 'Gotham-Book', Geneva, Tahoma, sans-serif;
}

.Gotham-BlackItalic {
    font-family: 'Gotham-BlackItalic', Geneva, Tahoma, sans-serif;
}

.LinotteRegular {
    font-family: 'LinotteRegular', Geneva, Tahoma, sans-serif;
}

.LinotteLight {
    font-family: 'LinotteLight', Courier, monospace;
}

.Aquatico-Regular {
    font-family: 'Aquatico-Regular', Courier, monospace;
}


/* Font sizes default */

.font-18 {
    font-size: 18px;
}

.font-22 {
    font-size: 22px;
}

.font-12 {
    font-size: 12px;
}

.font-17 {
    font-size: 17px;
}

.font-20 {
    font-size: 20px;
}

.font-25 {
    font-size: 25px;
}

.font-28 {
    font-size: 28px;
}

.font-30 {
    font-size: 30px;
}

.font-24 {
    font-size: 24px;
}

.font-16 {
    font-size: 16px;
}

.font-14 {
    font-size: 14px;
}

.font-60 {
    font-size: 60px;
}

.font-69 {
    font-size: 69px;
}

.font-55 {
    font-size: 55px;
}

.font-50 {
    font-size: 50px;
}

.font-45 {
    font-size: 45px;
}

.font-65 {
    font-size: 65px;
}

.font-70 {
    font-size: 70px;
}

.font-71 {
    font-size: 71px;
}

.font-30 {
    font-size: 30px;
}

.font-36 {
    font-size: 36px;
}

.font-37 {
    font-size: 37px;
}

.font-38 {
    font-size: 38px;
}

.font-32 {
    font-size: 32px;
}

.font-132 {
    font-size: 132px;
}

.font-127 {
    font-size: 127px;
}

.font-153 {
    font-size: 153px;
}

.font-100 {
    font-size: 100px;
}


/* Separators */

.space-5 {
    height: 5px;
}

.space-10 {
    height: 10px;
}

.space-15 {
    height: 15px;
}

.space-20 {
    height: 20px;
}

.space-25 {
    height: 25px;
}

.space-30 {
    height: 30px;
}

.space-35 {
    height: 35px;
}

.space-40 {
    height: 40px;
}

.space-45 {
    height: 45px;
}

.space-50 {
    height: 50px;
}

.space-55 {
    height: 55px;
}

.space-60 {
    height: 60px;
}

.space-65 {
    height: 65px;
}

.space-70 {
    height: 70px;
}

.space-75 {
    height: 75px;
}

.space-80 {
    height: 80px;
}

.space-85 {
    height: 85px;
}

.space-90 {
    height: 90px;
}

.space-95 {
    height: 95px;
}

.space-100 {
    height: 100px;
}

.space-105 {
    height: 105px;
}

.space-110 {
    height: 110px;
}

.space-115 {
    height: 115px;
}

.space-120 {
    height: 120px;
}

.space-125 {
    height: 125px;
}

.space-130 {
    height: 130px;
}

.space-135 {
    height: 135px;
}

.space-140 {
    height: 140px;
}

.space-145 {
    height: 145px;
}

.space-150 {
    height: 150px;
}

.space-155 {
    height: 155px;
}

.space-160 {
    height: 160px;
}

.space-165 {
    height: 165px;
}

.space-170 {
    height: 170px;
}

.space-175 {
    height: 175px;
}

.space-180 {
    height: 180px;
}

.space-185 {
    height: 185px;
}

.space-190 {
    height: 190px;
}

.space-195 {
    height: 195px;
}

.space-200 {
    height: 200px;
}

.col-xs-offset-right-12 {
    margin-right: 100%;
}

.col-xs-offset-right-11 {
    margin-right: 91.66666667%;
}

.col-xs-offset-right-10 {
    margin-right: 83.33333333%;
}

.col-xs-offset-right-9 {
    margin-right: 75%;
}

.col-xs-offset-right-8 {
    margin-right: 66.66666667%;
}

.col-xs-offset-right-7 {
    margin-right: 58.33333333%;
}

.col-xs-offset-right-6 {
    margin-right: 50%;
}

.col-xs-offset-right-5 {
    margin-right: 41.66666667%;
}

.col-xs-offset-right-4 {
    margin-right: 33.33333333%;
}

.col-xs-offset-right-3 {
    margin-right: 25%;
}

.col-xs-offset-right-2 {
    margin-right: 16.66666667%;
}

.col-xs-offset-right-1 {
    margin-right: 8.33333333%;
}

.col-xs-offset-right-0 {
    margin-right: 0;
}

@media (min-width: 768px) {
    .col-sm-offset-right-12 {
        margin-right: 100%;
    }
    .col-sm-offset-right-11 {
        margin-right: 91.66666667%;
    }
    .col-sm-offset-right-10 {
        margin-right: 83.33333333%;
    }
    .col-sm-offset-right-9 {
        margin-right: 75%;
    }
    .col-sm-offset-right-8 {
        margin-right: 66.66666667%;
    }
    .col-sm-offset-right-7 {
        margin-right: 58.33333333%;
    }
    .col-sm-offset-right-6 {
        margin-right: 50%;
    }
    .col-sm-offset-right-5 {
        margin-right: 41.66666667%;
    }
    .col-sm-offset-right-4 {
        margin-right: 33.33333333%;
    }
    .col-sm-offset-right-3 {
        margin-right: 25%;
    }
    .col-sm-offset-right-2 {
        margin-right: 16.66666667%;
    }
    .col-sm-offset-right-1 {
        margin-right: 8.33333333%;
    }
    .col-sm-offset-right-0 {
        margin-right: 0;
    }
}

@media (min-width: 992px) {
    .col-md-offset-right-12 {
        margin-right: 100%;
    }
    .col-md-offset-right-11 {
        margin-right: 91.66666667%;
    }
    .col-md-offset-right-10 {
        margin-right: 83.33333333%;
    }
    .col-md-offset-right-9 {
        margin-right: 75%;
    }
    .col-md-offset-right-8 {
        margin-right: 66.66666667%;
    }
    .col-md-offset-right-7 {
        margin-right: 58.33333333%;
    }
    .col-md-offset-right-6 {
        margin-right: 50%;
    }
    .col-md-offset-right-5 {
        margin-right: 41.66666667%;
    }
    .col-md-offset-right-4 {
        margin-right: 33.33333333%;
    }
    .col-md-offset-right-3 {
        margin-right: 25%;
    }
    .col-md-offset-right-2 {
        margin-right: 16.66666667%;
    }
    .col-md-offset-right-1 {
        margin-right: 8.33333333%;
    }
    .col-md-offset-right-0 {
        margin-right: 0;
    }
}

@media (min-width: 1200px) {
    .col-lg-offset-right-12 {
        margin-right: 100%;
    }
    .col-lg-offset-right-11 {
        margin-right: 91.66666667%;
    }
    .col-lg-offset-right-10 {
        margin-right: 83.33333333%;
    }
    .col-lg-offset-right-9 {
        margin-right: 75%;
    }
    .col-lg-offset-right-8 {
        margin-right: 66.66666667%;
    }
    .col-lg-offset-right-7 {
        margin-right: 58.33333333%;
    }
    .col-lg-offset-right-6 {
        margin-right: 50%;
    }
    .col-lg-offset-right-5 {
        margin-right: 41.66666667%;
    }
    .col-lg-offset-right-4 {
        margin-right: 33.33333333%;
    }
    .col-lg-offset-right-3 {
        margin-right: 25%;
    }
    .col-lg-offset-right-2 {
        margin-right: 16.66666667%;
    }
    .col-lg-offset-right-1 {
        margin-right: 8.33333333%;
    }
    .col-lg-offset-right-0 {
        margin-right: 0;
    }
}


/*
Custom theme 
*/


/* Desktop */

@media only screen and (min-width:1200px) and (max-width: 2500px) {
    .theme-ux {
        background-image: url(./assets/images/desktop/wallpaper-ux.png);
        background-repeat: no-repeat;
    }
    .theme-brand {
        background-image: url(./assets/images/desktop/Fondo-03.png) !important;
        background-repeat: no-repeat;
    }
    .theme-visual-design {
        background-image: url(./assets/images/desktop/fondo-visual.png);
        background-repeat: no-repeat;
    }
    .theme-realtime {
        background-image: url(./assets/images/desktop/Fondo-backend.png);
        background-repeat: no-repeat;
    }
    .theme-adword {
        background-image: url(./assets/images/desktop/abstract-adword.png);
        background-repeat: no-repeat;
    }
    .theme-web-design {
        background-image: url(./assets/images/desktop/bg-webdesign.png);
        background-repeat: no-repeat;
    }
    .theme-mkt {
        background-image: url(./assets/images/desktop/bg-mkt.png);
        background-repeat: no-repeat;
    }
    .theme-app2 {
        background-image: url(./assets/images/desktop/bg-app.png);
        background-repeat: no-repeat;
    }
    .theme-about {
        background-image: url(./assets/images/desktop/contact-new-bg.png);
        background-repeat: no-repeat;
    }
    .theme-contact {
        background-image: url(./assets/images/desktop/contact-fixed.png);
        background-repeat: no-repeat;
    }
}

@media only screen and (min-width: 1280px) and (max-width: 1599px) {
    .theme-contact {
        background-image: url(./assets/images/desktop/contact-fixed.png) !important;
        background-size: cover !important;
        background-position: center !important;
        background-repeat: no-repeat !important;
    }
}


/* End desktop */


/* Tablet & sm-desktop */

@media only screen and (min-width:768px) and (max-width:1180px) {
    .theme-ux {
        background-image: url(./assets/images/tablet/ux-bg.png);
        background-size: 150%;
        background-repeat: no-repeat;
    }
    .theme-brand {
        background-image: url(./assets/images/tablet/brand-bg.png);
        background-size: 150%;
        background-repeat: no-repeat;
    }
    .theme-visual-design {
        background-image: url(./assets/images/tablet/fondo-vd.png);
        background-repeat: no-repeat;
        background-size: 150%;
    }
    .theme-realtime {
        background-image: url(./assets/images/tablet/Fondo-08-08-08.png);
        background-size: 150%;
        background-repeat: no-repeat;
    }
    .theme-adword {
        background-image: url(./assets/images/tablet/fondo-07.png);
        background-size: 150%;
        background-repeat: no-repeat;
    }
    .theme-web-design {
        background-image: url(./assets/images/tablet/fondo-04.png);
        background-size: 150%;
        background-repeat: no-repeat;
    }
    .theme-app2 {
        background-image: url(./assets/images/tablet/Fondo-06.png);
        background-size: 150%;
        background-repeat: no-repeat;
        /* background-position: bottom;*/
    }
    .theme-mkt {
        background-image: url(./assets/images/tablet/bg-mkt.png);
        background-size: 150%;
        background-repeat: no-repeat;
    }
    .theme-about {
        /*background-image: url(./assets/images/tablet/bg-about2.png);
        background-repeat: no-repeat;*/
        background-color: #191919;
    }
    .theme-contact {
        background-image: url(./assets/images/tablet/bg-tablet-contact.png);
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
    }
}


/* End tablet & sm desktop */


/* Mobile */

@media only screen and (max-width: 480px) {
    .theme-ux {
        background-color: #e6e5e4;
    }
    .theme-web-design {
        background-color: #DCDBDA;
    }
    .theme-brand {
        background-color: #c0bfbc
    }
    .theme-adword {
        background-image: url(./assets/images/mobile/Fondo-07.png);
        background-size: cover;
        background-repeat: no-repeat;
    }
    .theme-realtime {
        background-color: #F4F4F4;
    }
    .theme-visual-design {
        background-color: #f4f4f4
    }
    .theme-about {
        background-color: #191919;
    }
}

@media only screen and (max-width: 320px) {
    .theme-web-design {
        background-color: #DCDBDA;
    }
    .theme-realtime {
        background-color: #F4F4F4;
    }
    .theme-adword {
        background-image: url(./assets/images/mobile/Fondo-07.png);
        background-size: cover;
        background-repeat: no-repeat;
    }
}


/* end mobile */

.theme-marketing {
    background-color: #F4F4F4
}

.theme-app {
    background-color: #ecedec;
}

.theme-thank {
    background-color: #e5e4e2
}

.color-ux {
    background-color: #e5e4e3;
}

.color-brand {
    background-color: #dcdad9;
}

.color-app {
    background-color: #ecedec;
}

.text-color-default {
    color: #6c6770
}

.color-visual-design {
    color: #ffff;
}

.color-marketing {
    background-color: #ecedec;
}

.bg-syfte-light {
    background-color: #F4F4F4
}

.hover-hidden {
    overflow: hidden !important;
}

.pointer {
    cursor: pointer;
}

.hide-scroll {
    overflow-x: hidden !important
}


/** Overrides underline color **/

.my-form-field.mat-form-field-appearance-legacy .mat-form-field-underline,
.my-form-field.mat-form-field-appearance-legacy .mat-form-field-ripple,
.my-form-field.mat-form-field-appearance-legacy.mat-focused .mat-form-field-underline,
.my-form-field.mat-form-field-appearance-legacy.mat-focused .mat-form-field-ripple {
    background-color: white !important;
    font-family: 'LinotteLight', serif;
}


/** Overrides label color **/

.my-form-field.mat-form-field-appearance-legacy .mat-form-field-label,
.my-form-field.mat-form-field-appearance-legacy.mat-focused .mat-form-field-label {
    color: white !important;
    font-family: 'LinotteLight', serif;
}


/** Overrides caret & text color **/

.my-form-field.mat-form-field-appearance-legacy .mat-input-element {
    caret-color: white !important;
    color: white !important;
}

.mat-form-field-appearance-outline.mat-focused .mat-form-field-outline-thick {
    color: white !important
}

.mat-form-field-appearance-outline .mat-form-field-outline {
    color: white !important
}


/** Overrides underline color **/

.my-contact-field.mat-form-field-appearance-legacy .mat-form-field-underline,
.my-contact-field.mat-form-field-appearance-legacy .mat-form-field-ripple,
.my-contact-field.mat-form-field-appearance-legacy.mat-focused .mat-form-field-underline,
.my-contact-field.mat-form-field-appearance-legacy.mat-focused .mat-form-field-ripple {
    background-color: #7d7b7b !important;
    font-family: 'LinotteLight', serif;
}


/** Overrides label color **/

.my-contact-field.mat-form-field-appearance-legacy .mat-form-field-label,
.my-contact-field.mat-form-field-appearance-legacy.mat-focused .mat-form-field-label {
    color: #919191 !important;
    font-family: 'LinotteLight', serif;
}


/** Overrides caret & text color **/

.my-contact-field.mat-form-field-appearance-legacy .mat-input-element {
    caret-color: #919191 !important;
    color: #919191 !important;
}

@media only screen and (min-width: 1600px) {
    .hide-mg {
        display: none !important
    }
    .footer-slider-mg {
        margin-top: -2.5%
    }
}

.red-snackbar {
    background: rgb(228, 82, 56) !important;
}

.success-snackbar {
    background: #0ea347
}

.show {
    background-color: transparent !important;
    border: 0px;
    margin-top: -20%
}

.dropdown-menu .show>a {
    display: none !important
}

.dropdown-item:hover {
    background-color: transparent;
    color: #cecece;
    text-decoration: underline
}

.videoPopup .mat-dialog-container {
    background-color: rgba(54, 56, 57, 0.7) !important;
}

.text-bold {
    font-weight: bold;
}


/* End custom theme */