<div class="space-200 d-none d-xl-block"></div>
<div class="space-150 d-none d-md-block d-xl-none"></div>
<div class="space-50 d-md-none"></div>
<!-- desktop -->
<section class="d-none d-xl-block">
    <div class="container-fluid">
        <div class="row">
            <div class="col-sm text-center wow slideInLeft mg-section">
                <h1 class="text-uppercase font-55 Aquatico-Regular">
                    Marketing
                </h1>
                <div class="col-sm-6 offset-3">
                    <article>
                        <p style="color: #6c6770" class="text-center LinotteLight font-18">
                            El mercado puede ser un lugar duro y complicado, <strong>Syfte se encargará de hacer un estudio
                            de las tendencias </strong> y posiciones del mercado global y en base a eso preparar campañas para <strong>Atraer,
                            Captar, Retener y Fidelizar</strong> los clientes a través de nuestra estrategia.
                        </p>
                    </article>
                </div>
            </div>
            <div style="margin-top: -10em" class="col-sm wow slideInUp">
                <img style="position: absolute; left: -10%; width: 110%" src="./assets/images/desktop/global-marketing.png" alt="En syfte estudiamos todo el mercado global y llevamos a cabo una estrategia de marketing">
            </div>
        </div>
        <!-- static buttons -->
        <div class="desktop-tablet-h">
            <div id="sticky" class="space-200"></div>
            <app-button-slider></app-button-slider>
        </div>
        <!-- end static buttons -->
    </div>
</section>
<!-- end desktop -->
<!-- tablet -->
<section class="d-none d-md-block d-xl-none">
    <div class="container-fluid">
        <div class="row">
            <div class="col-sm text-center">
                <h1 class="Aquatico-Regular text-uppercase font-25 wow slideInLeft">
                    Marketing
                </h1>
                <div class="col-sm wow slideInLeft">
                    <article>
                        <p class="text-center LinotteLight font-14 text-color">
                            El mercado puede ser un lugar duro y complicado, <strong>Syfte se encargará de hacer un estudio
                            de las tendencias </strong> y posiciones del mercado global y en base a eso preparar campañas para <strong>Atraer,
                            Captar, Retener y Fidelizar</strong> los clientes a través de nuestra estrategia.
                        </p>
                    </article>
                    <img class="mkt-employer wow slideInLeft" src="./assets/images/tablet/marketing-watcher.png" alt="Estratega de marketing">
                </div>
            </div>
            <div class="col-sm">
                <img style="margin-top: -15%" class="mkt-bg wow slideInUp" src="./assets/images/tablet/global-marketing.png" alt="En syfte estudiamos todo el mercado global y llevamos a cabo una estrategia de marketing.">
            </div>
        </div>
        <!-- static buttons -->
        <div style="position: relative; top: -0.5em">
            <app-button-slider></app-button-slider>
        </div>
        <!-- end static buttons -->
    </div>
</section>
<!-- end tablet -->
<!-- mobile -->
<section class="d-md-none">
    <div class="container">
        <div class="row">
            <div class="col-sm text-center margin-section">
                <h1 class="Aquatico-Regular text-uppercase font-32 wow bounceInLeft">Marketing</h1>
                <div class="col text-center">
                    <div class="space-20"></div>
                    <article class="wow slideInLeft">
                        <p class="text-center LinotteLight font-16 text-color">
                            El mercado puede ser un lugar duro y complicado, <strong>Syfte se encargará de hacer un estudio
                            de las tendencias </strong> y posiciones del mercado global y en base a eso preparar campañas para <strong>Atraer,
                            Captar, Retener y Fidelizar</strong> los clientes a través de nuestra estrategia.
                        </p>
                    </article>
                </div>
                <div class="space-20"></div>
                <div class="col-sm">
                    <img class="bg-margin wow bounceInUp w-100" src="./assets/images/mobile/global-marketing.png" alt="En syfte estudiamos todo el mercado global y llevamos a cabo una estrategia de marketing.">
                </div>
            </div>
        </div>
        <!-- static buttons -->
        <div class="space-20"></div>
        <app-button-slider></app-button-slider>
        <!-- end static buttons -->
    </div>
</section>
<!-- end mobile -->