<div class="space-50 d-none d-xl-block sticky"></div>
<div class="space-110 d-none d-xl-block hidde-1600"></div>
<div class="space-150 d-none d-md-block d-xl-none"></div>
<div class="space-50 d-md-none"></div>

<!-- desktop -->
<section class="d-none d-xl-block bg-ux">
    <div class="container-fluid">
        <div class="row">
            <img class="wow slideInLeft" style="position: absolute; width: 15%;" src="./assets/images/desktop/visual-designer.png" alt="syfte_visual_design_employment">
            <div class="col-sm text-center offset-xl-0 wow slideInLeft mg-section">
                <div class="space-90"></div>
                <h1 class="text-uppercase font-65 LinotteRegular">
                    Diseño Visual
                </h1>
                <div class="col-sm-6 offset-3">
                    <article>
                        <p class="text-center LinotteLight font-18 text-color-default">
                            Las empresas, organizaciones, organismos e instituciones deben tener un objetivo o misión. Un plan de negocios, un modelo de trabajo, de la misma forma que no hay personas iguales tampoco hay empresas iguales, <strong>por lo que exploramos a fondo tus ideas y metas para tu
                            negocio y la hacemos única a través de diseño gráfico.</strong>
                        </p>
                    </article>
                </div>
            </div>
            <div class="col-sm wow slideInUp">
                <img style="margin-top: -35%; width: 120%; margin-left: -10em" src="./assets/images/desktop/visual-design.png" alt="En syfte hacemos negocios rentables creando una imagen corporativa y una entidad visual.">
            </div>
        </div>
        <!-- static buttons -->
        <div class="mg-debug" style="margin-top: -10%">
            <div class="space-100 hide-mg"></div>
            <div class="footer-slider-mg desktop-tablet-h">
                <app-button-slider></app-button-slider>
            </div>
        </div>
        <!-- end static buttons -->
    </div>
</section>
<!-- end desktop -->
<!-- tablet -->
<section class="d-none d-md-block d-xl-none">
    <div class="container-fluid">
        <div class="row">
            <div class="col-sm text-center">
                <h1 class="LinotteRegular text-uppercase font-45 wow bounceInLeft">
                    Diseño Visual
                </h1>
                <div class="col-sm">
                    <article class="wow slideInLeft">
                        <p style="color: #6c6770" class="text-center LinotteLight font-14">
                            Las empresas, organizaciones, organismos e instituciones deben tener un objetivo o misión. Un plan de negocios, un modelo de trabajo, de la misma forma que no hay personas iguales tampoco hay empresas iguales, <strong>por lo que exploramos a fondo tus ideas y metas para tu
                            negocio y la hacemos única <br> a través de diseño gráfico.</strong>
                        </p>
                    </article>
                </div>
            </div>
            <div class="col-sm">
                <img class="mkt-bg wow slideInRight" src="./assets/images/tablet/visual-design.png" alt="En syfte hacemos negocios rentables creando una imagen corporativa y una entidad visual.">
            </div>
        </div>
        <!-- static buttons -->
        <div class="space-200"></div>
        <app-button-slider></app-button-slider>
        <!-- end static buttons -->
    </div>
</section>
<!-- end tablet -->
<!-- mobile -->
<section class="d-md-none">
    <div class="container">
        <div class="row">
            <div class="col-sm text-center margin-section">
                <h1 class="LinotteRegular text-uppercase font-45 wow bounceInLeft">Diseño <br> Visual
                </h1>
                <div class="col text-center">
                    <div class="space-20"></div>
                    <article class="wow slideInLeft">
                        <p class="text-center LinotteLight font-16 text-color">
                            Las empresas, organizaciones, organismos e instituciones deben tener un objetivo o misión. Un plan de negocios, un modelo de trabajo, de la misma forma que no hay personas iguales tampoco hay empresas iguales, <strong>por lo que exploramos a fondo tus ideas y metas para tu
                            negocio y la hacemos única a través de diseño gráfico.</strong>
                        </p>
                    </article>
                </div>
                <div class="space-20"></div>
                <div class="col-sm">
                    <img class="bg-margin w-100 wow bounceInUp" src="./assets/images/mobile/visual-design.png" alt="En syfte hacemos negocios rentables creando una imagen corporativa y una entidad visual.">
                </div>
            </div>
        </div>
        <!-- static buttons -->
        <app-button-slider></app-button-slider>
        <!-- end static buttons -->
    </div>
</section>
<!-- end mobile -->