<!-- desktop container -->
<div class="space-80"></div>
<section>
    <div class="container">
        <div class="row">
            <div class="col-sm text-center">
                <h1 class="Aquatico-Regular font-50 about-title text-uppercase wow slideInLeft">
                    Nuestros Casos
                </h1>
                <div class="space-20"></div>
                <article class="col-xl-10">
                    <p class="LinotteLight font-20 text-color about-texts offset-xl-2">
                        En <strong>Syfte preparamos un plan único para cada cliente</strong>, ninguna persona piensa igual que otra, eso lo sabemos por eso nos dedicamos exclusivamente a cada <strong>cliente y nuestros casos lo demuestra</strong>
                    </p>
                </article>
            </div>
        </div>
        <!-- cards -->
        <div class="space-80"></div>
        <div class="row">
            <div class="col-sm text-center">
                <div class="row">
                    <div class="col-sm">
                        <mat-card>
                            <div class="space-50"></div>
                            <mat-card-title class="Aquatico-Regular">
                                PROXIMAMENTE
                            </mat-card-title>
                            <div class="space-10"></div>
                            <mat-card-content>
                                <p class="LinotteLight font-14">
                                    Nos encontramos trabajando en esto, para mostrarte el mejor contenido posible
                                </p>
                            </mat-card-content>
                            <div class="space-50"></div>
                        </mat-card>
                    </div>
                    <div class="col-sm">
                        <mat-card class="bg-dark">
                            <div class="space-50"></div>
                            <mat-card-title class="Aquatico-Regular text-white">
                                PROXIMAMENTE
                            </mat-card-title>
                            <div class="space-10"></div>
                            <mat-card-content>
                                <p class="LinotteLight font-14 text-white">
                                    Nos encontramos trabajando en esto, para mostrarte el mejor contenido posible
                                </p>
                            </mat-card-content>
                            <div class="space-50"></div>
                        </mat-card>
                    </div>
                    <div class="col-sm">
                        <mat-card class="bg-dark">
                            <div class="space-50"></div>
                            <mat-card-title class="Aquatico-Regular text-white">
                                PROXIMAMENTE
                            </mat-card-title>
                            <div class="space-10"></div>
                            <mat-card-content>
                                <p class="LinotteLight font-14 text-white">
                                    Nos encontramos trabajando en esto, para mostrarte el mejor contenido posible
                                </p>
                            </mat-card-content>
                            <div class="space-50"></div>
                        </mat-card>
                    </div>
                </div>
            </div>
        </div>
        <!-- end cards -->
    </div>
</section>
<!-- end desktop -->